[2016-05-22 18:15] manushanga opened #8 "Make email credentials a bit secure"
https://github.com/scorelab/Bassa/blob/master/components/core/EMail.py#L3

No hard coding accounts on the code :)

[2016-05-22 18:17] rehrumesh commented on #8
@malithsen

[2016-05-28 15:23] #8 closed

[2016-05-28 19:47] paarandika opened #10 "Release checklist for v 1.0"
- [x] Solve database write issue
- [x] Refine authentication, rating and flagging of inappropriate content
- [ ] Automatic suggestions before new downloads
- [ ] Refine disk cleaning method
- [x] Finish front-end
- [ ] Docker and Vagrant images for deployment

As an additional task, if we have enough time, we can look in to identifying inappropriate downloads.

[2016-11-27 04:17] agentmilindu opened #33 "Automatic deployment to PyPi with Travis CI"
How about we publish the python module to PyPi through Travis CI when we push version tags?

[2016-11-27 04:19] agentmilindu commented on #33
Reference : https://docs.travis-ci.com/user/deployment/pypi/

[2016-11-27 04:29] agentmilindu opened #34 "Add PyPi version badge to the README.md"
Add PyPi version badge to the  README.md from some badge providor.

![image](https://cloud.githubusercontent.com/assets/1391468/20645566/1af2b496-b488-11e6-931d-fd56e4ce4cf3.png)

[2016-11-27 04:29] agentmilindu commented on #34
Eg : https://shields.io

[2016-11-27 04:31] agentmilindu opened #35 "Add PyPi Downloads badge to the README.md"
Add PyPi Downloads badge to the README.md from some badge providor.

Eg : https://shields.io

![image](https://cloud.githubusercontent.com/assets/1391468/20645580/600cfd16-b488-11e6-868f-485864461c02.png)

[2016-11-27 04:57] agentmilindu opened #36 "Missing "use strict" statement"
When you send PRs regarding fixes for missing "use strict" statement, refer this issue! You can find the Lint errors from the following.

https://www.bithound.io/github/scorelab/Bassa/master/files#lint

[2016-11-27 05:00] agentmilindu opened #37 "Strings must use single quote."
When you send PRs regarding fixes for strings must use single quote, refer this issue! You can find the Lint errors from the following.

https://www.bithound.io/github/scorelab/Bassa/master/files#lint

[2016-11-27 13:46] rehrumesh opened #38 "Write a proper installation guide for Bassa"
Installation guide should:

[2016-12-06 12:54] coderaashir commented on #36
So on adding 'use strict' to adminCtrl.js,
bitHound gives many more errors than before. (And these are legit errors in the js! (Missing semi-colon, strings must have single quotes, etc. )
I have attached a screenshot. Should i still make a PR?

[2017-01-08 12:35] malithsen commented on #37
#55

[2017-01-30 17:25] rehrumesh opened #61 "Downloads crashing frequently"

[2017-01-30 17:29] rehrumesh opened #62 "Implement a new download scheduling mechanism"

[2017-01-30 17:30] rehrumesh opened #63 "Containerize Bassa using Docker"

[2017-01-30 17:30] rehrumesh opened #64 "Implement a file removal policy in Bassa"

[2017-01-30 17:31] rehrumesh opened #65 "Improve Bassa UI"
Please provide your feedback so we could improve Bassa more

[2017-01-30 17:43] rehrumesh opened #66 "Improve the code coverage for the JavaScript components"

[2017-01-30 17:43] rehrumesh opened #67 "Redesign the Bassa Landing page"

[2017-02-01 15:11] rajikaimal opened #68 "Implementation of unit tests"
Proposed methodology for unit testing.
- Unit test implementation with [Jasmine framework](https://jasmine.github.io/).

@rehrumesh

[2017-02-01 18:00] rehrumesh commented on #68
Hi @rajikaimal, initial steps and few basic test cases have been writtn by @malithsen. Please have a look at it of you are interested in contributing.

[2017-02-02 09:51] rajikaimal commented on #68
Great !

[2017-02-02 14:59] rajikaimal opened #70 "Addition of PR and issue templates"
Pull request and issue templates are currently not available in the repository.

[2017-02-08 14:52] rajikaimal opened #72 "[Unit tests] Using ChromeDriver instead of PhantomJS"
`ChromeDriver` can be used instead of the `PhantomJS` driver which is currently used in the project for unit tests. As `Phantom2` is being developed heavily breaking changes can be introduced. In fact when configuring the project for unit tests I got several breaking changes due to Phantom2 releases and it's plugin changes. Therefore I propose to use `ChromeDriver` instead of `PhantomJS` since Chr

[2017-02-13 01:11] malithsen commented on #72
@rajikaimal This makes sense. I too had recurring problems with phantom in last few months. Feel free to issue a PR if you have time.

[2017-02-13 12:28] rajikaimal commented on #72
@malithsen sure, I'll submit a PR for this issue.

[2017-02-13 15:08] rajikaimal commented on #72
#73 solves this issue.

[2017-02-24 15:10] uk175 commented on #34
Hi!

I just noticed that the PyPi version badge is already there in the README file, so is there a reason to why this issue is still open?

[2017-02-24 15:19] malithsen commented on #34
@uk175 Thanks for the heads up :)

[2017-02-24 15:19] #34 closed

[2017-02-24 15:19] #35 closed

[2017-02-24 15:20] malithsen commented on #36
closing #58

[2017-02-24 15:20] #36 closed

[2017-02-24 15:21] #37 closed

[2017-02-24 15:39] uk175 opened #75 "A tiny typo in README"
There is a very tiny typo in the README file, writing "levals" as "levels".

[2017-02-25 17:08] saisankargochhayat opened #77 "Addition of running aria2c in readme"
Connection refused while starting a download. I am working on this issue.

[2017-02-25 17:54] saisankargochhayat commented on #77
Added a pull request to add the same to readme.

[2017-02-25 17:54] #77 closed

[2017-02-26 05:48] #75 closed

[2017-02-28 15:51] saisankargochhayat opened #80 "ERROR:websocket: error from callback : float division by zero"
If the download size is zero , error handling was missed.

[2017-03-03 18:51] rajikaimal opened #82 "[Unit tests] Travis perf issue"
Travis-CI takes a lot of time when running unit tests. This can be avoided to a certain extent by caching dependencies.

[2017-03-04 18:32] rajikaimal opened #84 "Using prettier for code formatting"
I came across few places where `codacy` complaints about styling issues. If we use a JavaScript formatter I think it will be much consistent rather than doing it manually.
My suggestion is [prettier](https://github.com/prettier/prettier).

@malithsen @rehrumesh

[2017-03-05 11:19] SonaArora commented on #80
Hello, i want to work on bassa. Can i start with this issue, or this is merged/closed ?

[2017-03-05 12:14] saisankargochhayat commented on #80
Its fixed and merged in pull request #81 . Let me close this issue .

[2017-03-05 12:14] #80 closed

[2017-03-05 12:17] saisankargochhayat commented on #82
Hey , i have added node modules and bower files to cache . Do you have anything else in mind ? :)

[2017-03-05 13:13] saisankargochhayat commented on #70
@rehrumesh  I have added a pull request and issue format . Please suggest if any changes are required.

[2017-03-05 15:46] rajikaimal commented on #82
#86 solves this.

[2017-03-05 15:49] saisankargochhayat commented on #82
Cool :+1:

[2017-03-06 06:57] SonaArora commented on #63
@rehrumesh Hi, i want to work on this issue. Can you please tell me more about this.

[2017-03-06 13:49] #82 closed

[2017-03-06 15:40] rehrumesh commented on #63
@SonaArora primary intention of this task to make Bassa a containerized application using Docker. As the initial step you can create a dockerfile in the repo and make a docker image out of it. In later we can create a sample docker-compose file so it will be a multicontainer application where front-end, backend and database resides in 3 different containers.

[2017-03-07 01:12] sonuagarwal1008 commented on #38
i want to work on this issue
can you give any idea what should be the content of installation guide
This is only for ubuntu?

[2017-03-07 01:13] sonuagarwal1008 commented on #62
i want to work on this issue ? how should i start

[2017-03-07 02:50] rehrumesh commented on #38
@sonuagarwal1008 Great. No, We need instructions for Ubuntu, CentOS, Fedora, CoreOS and Arch as they are the widely used OSes. For a start, you can start working for Ubuntu.

[2017-03-07 05:46] sonuagarwal1008 commented on #38
can we use configuration management like **ANSIBLE**

[2017-03-07 18:10] SonaArora commented on #64
Hi, can you tell me more about this issue.

[2017-03-07 18:36] #72 closed

[2017-03-07 18:37] #70 closed

[2017-03-07 18:52] saisankargochhayat commented on #65
@rehrumesh the login page , doesn't show any info on the input of a wrong password , i was thinking of adding a message alerting wrong password.

[2017-03-08 03:06] rajikaimal commented on #65
Responsiveness of some pages is little bit off from what a user would normally expect, I'm working on those changes.

[2017-03-08 12:34] SonaArora commented on #38
I am doing this issue of Bassa project.
So to write instructions for setting the project, i was checking it on 2 platforms : ubuntu16.10 and fedora24. But the shell script for installation is platform dependent. It seems that they had written it only for ubuntu. So i was customizing the script to make it work for all platforms(windows, linx- ubuntu, debian,fedora, centos and mac, core os, arch etc

[2017-03-08 15:05] SonaArora commented on #38
#89 My proposed solution for this issue. I wrote the guideline only for Ubuntu. Testing on fedora and centos too and customizing the install.sh so that it can work on all operating systems.

[2017-03-09 18:38] saisankargochhayat opened #90 "Wrong Credential handling in Login Page."
The Login page flickers to dashboard for a second and then reverts back to login page.

## Expected Behavior
Should show invalid credential alert message.

## Current Behavior
Shows flickering to dashboard and reverts back to login page.

## Steps to Reproduce the bug
Try entering invalid username or
or bugs)
Try entering invalid username or password.
The url changes to dashboard for a second and

[2017-03-11 14:46] #68 closed

[2017-03-12 15:37] saisankargochhayat commented on #90
PR merged .

[2017-03-12 15:37] #90 closed

[2017-03-18 07:21] yruwanmalee commented on #67
The positioning of the input fields and the buttons need changes so it will actually make it easier for the user. Furthermore, the area of login form needs to be emphasized which can be done by changing the background color with regard to the whole screen.

[2017-03-18 07:23] rehrumesh commented on #67
@yruwanmalee any mockups?

[2017-03-18 07:34] saisankargochhayat commented on #67
I think , the white background goes well with the app.

[2017-03-18 07:39] yruwanmalee commented on #67
![bassa5](https://cloud.githubusercontent.com/assets/14134332/24070077/ec4c6e06-0bdb-11e7-87af-ab0121b16b76.png)

This is what I have been working lately.

[2017-03-18 07:43] yruwanmalee commented on #67
Well the color change would not be something bright but thought of making a subtle difference of the colors between login form compared to the whole screen.

[2017-03-18 11:08] saisankargochhayat opened #95 "Supporting Magnet Links in add downloads."
**Currently only URL's are accepted by the application . Any other form of input results in a invalid url response .**

## Expected Behavior

-  As per app description , it supports magnet link support.
- By default we are using aria2c , which supports magnet links , so i will be trying to implement support for magnet links.

## Steps to Reproduce (for bugs)
- Add a magnet link to add download spa

[2017-03-18 15:42] Nuwini opened #97 "Update README on python version and database setup"
The steps on how to setup the database for Bassa is not stated in the README file. Also, Bassa seems to work only on Python 3, due to dependency issues. However this is not mentioned in the README. I will send a PR shortly.

[2017-03-18 16:15] rajikaimal commented on #97
@Nuwini Installation steps are available, however Python3 support is not mentioned.

[2017-03-18 18:07] rajikaimal commented on #97
@Nuwini Yes, Bassa is written with Python 3.

[2017-03-18 18:38] Nuwini commented on #97
@rajikaimal Done !

[2017-03-18 19:46] Nuwini opened #100 "Update README on first time login credentials"
In the first time someone login to Bassa, the username and password credentials should be given to proceed. Since the credentials are not mentioned in the README file I will add a PR shortly.

[2017-03-19 07:43] Nuwini opened #101 "Shell script to start Bassa servers at once"
In the current project there is no script to start all the three Bassa servers at once. Therefore, writing a shell script to start Bassa servers at once will make users comfortable. I will send a PR shortly.

[2017-03-20 05:13] Nuwini commented on #100
Changed in #99

[2017-03-20 05:13] #100 closed

[2017-03-20 05:15] Nuwini commented on #97
#99

[2017-03-20 05:15] #97 closed

[2017-03-20 06:21] yruwanmalee commented on #67
@rehrumesh  why is not the name of the user not included in the signup form?

[2017-03-20 13:54] saisankargochhayat commented on #101
This seems like a good idea .

[2017-03-20 17:50] rehrumesh commented on #67
@yruwanmalee What do you mean?

[2017-03-20 17:52] rehrumesh commented on #67
@yruwanmalee appriciate the effort with the login page work. But I feel like the consistency between button styles has been lost. Any opinions?

[2017-03-20 18:02] saisankargochhayat opened #102 "Adding the option of deleting a download."
Implementing a delete a download from the ongoing download page , before it has been started . Also on the status of the download and its current progress. Is it a bug or still to be implemented ?
@rehrumesh @malithsen

[2017-03-20 18:07] saisankargochhayat commented on #95
Merged .

[2017-03-20 18:07] #95 closed

[2017-03-20 18:26] malithsen commented on #67
@rehrumesh agreed. +1 for vertically stacked inputs as opposed to horizontal ones we have now @yruwanmalee

[2017-03-21 07:51] rajikaimal opened #103 "[Login] Logic for checking whether an account is confirmed or not via email"
Application login doesn't check whether the account is confirmed/approved or not via email. Account should be confirmed in order to.
## Expected Behavior

When user login, if the account is not confirmed, it should display a message indicating that the account should be confirmed.
## Current Behavior

Currently this logic has not been implemented.
## Possible Solution

Create logic related to chec

[2017-03-22 03:28] yruwanmalee commented on #67
@rehrumesh Don't we need to record the user's first name and last name in the signup form?

[2017-03-22 03:46] rajikaimal commented on #67
How about an anchor instead of a button for signup. Next to 'don't have an account', `signup` can be an anchor tag. Just a suggestion.

[2017-03-22 16:33] yruwanmalee commented on #67
@rehrumesh I think this way the button consistency issue will be resolved.
![bassa6](https://cloud.githubusercontent.com/assets/14134332/24209061/3687f0fe-0f4b-11e7-8880-46bd0c07563c.png)

[2017-03-27 11:07] Nuwini opened #106 "Store database credentials in the config file"
Currently database credentials are hard coded to the `dbcon.py`
I suggest keeping them on a `.conf` file.
Further I think it's good to combine both current `.conf` files to a single one.

[2017-03-27 17:03] yruwanmalee opened #108 "Redesign the Bassa signup page"
The structure and the design of the sign up page needs more attention. I have redesigned the sign in page and I am planning to redesign thr signup accordingly to provide the consistency of the UI.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chro

[2017-03-30 06:34] rajikaimal opened #110 "[Bug] Broken route /ui"
`/ui/` route is broken
## Expected Behavior

Pointing to `localhost:5000/ui` should serve the UI.
## Current Behavior

Pointing to `localhost:5000/ui` in development gives an error.
## Possible Solution

## Steps to Reproduce (for bugs)

1. Start the server
2. Point the browser to `localhost:5000/ui`

## Your Environment

* Environment name and version (e.g. Chrome 39, node.js 5.4): Chromium 53
*

[2017-03-30 06:35] rajikaimal commented on #110
I will be working on this.

[2017-03-30 07:17] rajikaimal opened #112 "Back-end unit tests"
This thread will be used for tracking issues related to back-end testing.

[2017-03-30 07:25] saisankargochhayat commented on #112
I will be adding some unit tests shortly.

[2017-03-30 07:34] rajikaimal commented on #112
Can you mention which functionalities you're testing. I'm working on testing REST API functionality.
So basically I'm working on testing functionality specified in `components/core/REST.py`

[2017-03-30 07:57] saisankargochhayat commented on #112
@rajikaimal I was thinking of working on tests for signup , login , and approve functions in REST.py .

[2017-03-30 08:40] rajikaimal commented on #112
Cool ! :+1:

[2017-03-30 08:42] saisankargochhayat commented on #112
We should make a branch and work on it together :) @rajikaimal

[2017-03-30 08:42] rajikaimal commented on #112
@saisankargochhayat I was thinking the same.

[2017-03-30 08:44] rajikaimal commented on #112
Did you implemented anything yet ? or shall I add mine, so that you can start on top of it.

[2017-03-30 08:45] saisankargochhayat commented on #112
that would be great :+1: , you can add yours we will start working upon it.

[2017-03-30 20:13] rehrumesh commented on #106
Credentials should be moved to environment instead of storing in config files.

[2017-03-31 06:15] Nuwini commented on #106
I will make the changes.

[2017-04-03 16:22] #10 closed

[2017-04-03 18:54] rehrumesh commented on #67
@yruwanmalee what do we have near "Don't have an account"?

[2017-04-03 18:56] #61 closed

[2017-04-03 19:02] rehrumesh opened #116 "Users are unable to download files from Bassa"
## Expected Behavior
Users should be able to download the files using bassa frontend.

## Current Behavior
Download crashes.

[2017-04-03 19:04] rehrumesh opened #117 "Downloads in the Bassa server fails"
When bassa try to download multiple files, it crashes the app,

## Expected Behavior
Bassa should be able to handle concurrent downloads without any issues.

## Current Behavior
If there are multiple downloads, server crashes.

## Possible Solution
Remove the stat module.

[2017-04-04 05:16] rajikaimal commented on #116
I will work on this. @rehrumesh

[2017-04-04 05:24] saisankargochhayat commented on #117
I will work on this , to find the exact cause , then fix it . @rehrumesh

[2017-04-04 05:38] saisankargochhayat commented on #102
Merged. #105

[2017-04-04 05:38] #102 closed

[2017-04-04 08:40] yruwanmalee commented on #67
@rehrumesh It was used to navigate an individual for the signup page. Anyway, the UI was changed theresince. I have also done some customizations to the alerts as well. Both of it can be seen in the screenshot I have attached below.
![abcc](https://cloud.githubusercontent.com/assets/14134332/24648130/39297090-1940-11e7-81b3-5a1e760cc590.png)

[2017-04-04 08:42] yruwanmalee commented on #108
@rehrumesh A user's name is not included in the sign up form. Is there any special reason?

[2017-04-09 04:45] rajikaimal commented on #116
#118

[2017-04-12 18:44] rajikaimal opened #119 "[Feature] Two factor authentication"
Suggestion to add **_two step authentication / 2FA_** as a feature in Bassa.

Benefits :tada: : Extra layer of security on top of the current authentication system.

References: [Google 2FA](https://www.codementor.io/slavko/google-two-step-authentication-otp-generation-du1082vho).

[2017-04-13 01:59] saisankargochhayat commented on #117
On increasing the threadpool and updating SQLAlchemy versions , the multiple download seems to work fine. Will try this a few more times and make a PR .

[2017-04-13 03:17] saisankargochhayat opened #121 "[Bug] Showing download progress in Ongoing Downloads Page."
## Expected Behavior
The ongoing downloads page should show the current progress of the download.

## Current Behavior
Currently , the download vanishes from the ongoing downloads page once the start button is clicked.

I will work on this issue :smile:

[2017-04-13 05:41] rajikaimal opened #122 "[Bug] Admin section not accessible after refresh"
After creating an account with **Admin** rights, navigating to the admin tab works fine. But after a refresh toast comes up with '_You don't have admin previlages_'.
## Expected Behavior

It should show up the admin section.
## Current Behavior

Toast comes up showing '_You don't have admin previlages_'.

## Steps to Reproduce (for bugs)

1. Create an account with Admin privileges.
2. Navigate to

[2017-04-13 05:42] rajikaimal commented on #122
I can work on this, if this is confirmed as a bug.

[2017-04-13 05:51] rajikaimal opened #123 "Providing admin rights to a new account"
According to the current implementation, there is no way to assign **Admin** rights/privileges to a new account (from the user interface itself).

[2017-04-13 05:56] saisankargochhayat commented on #123
That can be included in the setup procedure rather than in the application.

On 13 Apr 2017 11:21 a.m., "Rajika Imal" <notifications@github.com> wrote:

[2017-04-13 06:18] rajikaimal commented on #123
@saisankargochhayat You mean in the initial project setup ? Oh yeah, it can be done too. But I was mentioning about an instance where new user is added and if that user needs to be granted with Admin rights. (This is after application setup)

[2017-04-13 06:32] saisankargochhayat commented on #123
Yeah that's something we can add I guess . I guess we can all the
administrators to add more admins. :)

On 13 Apr 2017 11:48 a.m., "Rajika Imal" <notifications@github.com> wrote:

@saisankargochhayat <https://github.com/saisankargochhayat> You mean in the
initial project setup ? Oh yeah, it can be done too. But I was mentioning
about an instance where new user is added and if that user needs to b

[2017-04-14 18:00] yruwanmalee commented on #67
@rehrumesh  are there any modifications i have got to do? :)

[2017-04-20 04:09] paarandika opened #124 "Add all the configurations to a single conf file"
## Expected Behavior
We need to implement a method to add all the configs to a single file (or multiple files to make things more clear) and fetch them from there. These conf file(s) should be in JSON or YAML format. Preferably with a web UI for admins to do the configs.

## Current Behavior
Currently, a number of configurations which are vital to the system are scattered all over the code and it

[2017-04-28 06:18] KaveeshBaddage opened #125 "[Feature] Current user's name is not displayed on Logout menu"
## Expected Behavior

When system user is going to logout from the system, current user's user name should view in the Logout menu by the system.

## Current Behavior

There is only logout button in the logout menu. That doesn't displayed who is the current user.

![bassalogoutview](https://cloud.githubusercontent.com/assets/17790688/25515749/4dbc02da-2c04-11e7-9e28-8aaeae3c460a.png)

## Possible

[2017-04-28 07:02] rajikaimal opened #126 "Use Prettier"
Currently `JavaScript code (UI)` is not configured to use a `linter/formating tool`. I would like to suggest [Prettier](https://github.com/prettier/prettier), which is a formatting tool for JavaScript with `opinionated styling`.

**Pros:**
Prettier does a good in identifying bad code styles in JavaScript.
Highly adopted by modern JavaScript projects. Eg: [React](https://github.com/facebook/react/p

[2017-05-01 11:45] #126 closed

[2017-05-01 11:49] malithsen commented on #123
@rajikaimal This is a good suggestion :) We will also need an option to revoke privileges
Do issue a PR when time permits :)

@rehrumesh @saisankargochhayat

[2017-05-01 11:50] malithsen commented on #122
@rajikaimal Can confirm this as a bug

[2017-05-02 13:31] rajikaimal commented on #84
#128

[2017-05-02 13:31] #84 closed

[2017-05-03 03:53] #125 closed

[2017-05-07 02:34] saisankargochhayat commented on #122
Yes it is indeed a bug. :+1:

[2017-05-10 15:08] #110 closed

[2017-08-15 05:09] rehrumesh opened #132 "Add Contributing Guidelines"

[2017-09-28 18:28] Menuka5 commented on #132
I would like to work on this issue.

[2017-09-28 18:29] rehrumesh commented on #132
great. looking forward for a PR.

[2017-10-02 17:10] saisankargochhayat opened #135 "Making a how to use Bassa video tutorial / GIF guide."
## Expected Behavior
 This is for users who are new to Bassa to understand its functioning and relating how it could be useful to them in their problem-solving.

## Current Behavior
Currently, we have a how-to setup readme.
## Possible Solution
We need a screencast or a GIF aided post explaining the use of Bassa.

[2017-10-24 04:43] Nuwini opened #138 "Making ReadMe file more comprehensive"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2017-11-03 05:34] agentmilindu opened #139 "Bassa Wiki should be improved"
Bassa Wiki Home should be about Bassa, not about PWAs. `README.md` has stuff which mainly targets a developer( API endpoints, etc ) and might frustrate a user. The wiki should have a "How to install" guide. etc from a user's perspective.

## Current Behavior
Currently, the wiki has nothing about Bassa but an article on PWA.

## Possible Solution
Should create wiki pages as follows.
- [ ]  How to i

[2017-11-03 05:36] agentmilindu commented on #139
@malithsen @rehrumesh I guess we can divide this issue into several tasks.

1. How to install on Windows guide
1. How to install on Linux guide
1. How to install on MacOS guide
1. How to use guide
1. Troubleshoot guide.

[2017-11-03 05:42] agentmilindu opened #140 "Badges on README.md not working"
Following two badge takes the user to a 404 page when clicked.

![image](https://user-images.githubusercontent.com/1391468/32361565-a0368ee6-c087-11e7-9e2c-f73899d7c572.png)

## Expected Behavior
Ideally, they should lead to the PyPI package page.

[2017-11-03 06:24] agentmilindu opened #141 "Gitter badges in README.md"
Let's add Gitter "Chat on Gitter" badge from http://shields.io/ into README.md

[2017-11-03 06:58] agentmilindu opened #142 "Auth levels of API should be generic"
Currently, the auth levels of the API documentation is not generic, but specific to one use case( Educational institute ).

These roles should be generalized and should be explained what each role/auth level can do and can't do.

[2017-11-03 07:04] agentmilindu commented on #138
IMO, We should remove the API documentation part from the README.md. That should go to a separate Wiki document and be accompanied by an [OpenAPI-Specification](https://github.com/OAI/OpenAPI-Specification).

[2017-11-07 12:52] malithsen commented on #142
Although these user levels have been defined only Admin and Student roles are in use. I am not sure what the  planned use cases of Academic and Non academic roles were. Maybe @paarandika can shed some light into this.

[2017-11-17 17:18] agentmilindu opened #143 "Google Code-In 2017: Getting Started Issue"
**_THIS IS A NOT A REAL ISSUE BUT A PLACEHOLDER._**

All the practising PRs for Google Code-In 2017 should refer this issue. PRs referring this issue will be closed without merging. Do not refer this issue if you are NOT submitting a practice PR and need your work merged.

[2017-12-01 19:01] prashant0598 opened #185 "Indentation error in README.md"
Commands given under Run UI Unit Tests need to properly indented. This could be a GCI Task.

[2017-12-02 06:06] debugvelop opened #186 "New feature idea"
After reading README, I think that it's good if Bassa has capability to adjust download speed based on disk usage too. Not just internet connection. Because large data download at high speed connection is possible to make disk slow (high disk usage)  while multi-tasking. So, there will be no decrease disk performance while download.

[2017-12-06 11:30] padamchopra opened #212 "Repo should follow GitFlow Workflow"
[code]

[2017-12-06 23:27] vschs007 commented on #143
how to get permission to get  your PR

[2017-12-07 08:27] kmehant commented on #101
I would love to work on this, Im a GCI student this year contributing to Scorelab. I would need to some guidance to start.

[2017-12-07 09:17] saisankargochhayat commented on #101
@kmehant Are you done with the local setup of the project?

[2017-12-07 09:50] kmehant commented on #101
@saisankargochhayat I tried to run gulp serve from ui folder, i ended up with the following error.

[code]

[2017-12-07 09:58] saisankargochhayat commented on #101
Have you followed all the instructions and are you on a Linux distribution ?

[2017-12-07 12:35] kmehant commented on #101
@saisankargochhayat I removed the local instance and will reinstall again :) Will ping you soon on it.

[2017-12-08 16:50] Warrrior2017 opened #232 "Bassa"
The wiki should have a "How to install" guide.
At the moment,the wiki has nothing about Bassa,but on the wiki is an article on PWA.
My solution is to create a "How to install" guide for Bassa.

[2017-12-08 23:47] shravyanandyala opened #233 "New Feature Idea"
An idea for Bassa would be to have the admin be able to view the "normal people" accounts that have the most activity. This way, even if downloads are not necessary inappropriate, the admin can still see who is misusing resources. This could be integrated with the admin's interface for dealing with inappropriate downloads so that there is an automatic response to warn or disable the account of the

[2017-12-09 03:37] malithsen commented on #233
Hi @shravyanandyala this feature has already been implemented in the admin dashboard. Currently it shows the pie chart of the download sizes of each user.

[2017-12-09 03:42] malithsen commented on #232
Hi @Warrrior2017
Wiki already has installation guides for [Linux](https://github.com/scorelab/Bassa/wiki/Linux-Installation-Guide) and [Windows](https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide)
However as you have noticed the home page points to an article on PWA which should be moved somewhere else

[2017-12-09 04:22] shravyanandyala commented on #233
Oh, I see it now. I must have missed it before. Thanks for letting me know!

[2017-12-09 04:35] shravyanandyala opened #234 "New Feature Idea"
A cool feature for this would be an automated start for downloads that meet certain specifications. The manager should be able to say something like "start all downloads that meet these requirements without approval." That way, the manager is able to filter out routine requests and focus on the download requests that are larger or more unusual. This would help save a lot of time for the users. Als

[2017-12-09 05:39] #233 closed

[2017-12-09 05:40] #232 closed

[2017-12-10 06:44] agentmilindu opened #244 "`requirements.txt` belongs in `components/core`"
IMO, `requirements.txt` belongs in `components/core` not in the project root. WDYT?

@malithsen @rehrumesh @saisankargochhayat

[2017-12-10 06:48] agentmilindu opened #245 "`sudo` in `setup.sh` making problems in Docker"
Docker runs the setup.sh file as root and having problems with `sudo` commands as `sudo` is not available in `root` user. This makes the setup.sh not usable in docker image creation. What can we do?

[2017-12-10 14:54] kmehant opened #248 "docker-compose.yml to run Bassa"

[2017-12-10 16:14] agentmilindu commented on #248
We will have 4 major containers for this,

1. api ( `components/core/Dockerfile` )
2. ui ( ui/Dockerfile )
3. mysql
4. area2

Right @malithsen, @rehrumesh ?

[2017-12-11 18:08] rehrumesh commented on #248
Actually, it is three. area2 was bundled with the API.

[2017-12-12 01:32] agentmilindu commented on #248
Can we decouple `aria2`? If we want to replace `aria2` with something better, then it would be easy for us, right? On the other hand, can we spawn more `aria2` instances when there is huge load and get more work done? I'm not much familiar with Bassa core.

[2017-12-12 02:38] agentmilindu opened #252 "Move to `gulp-htmlmin` from `gulp-minify-html`"
[code]

[2017-12-12 02:40] agentmilindu opened #253 "Migrate to Yarn from Bower"
[code]

[2017-12-12 21:02] tintinmovie opened #255 "Generate .gitignore using gitignore.io"
(GCI 2017 Task: [https://codein.withgoogle.com/tasks/4997285060542464/](https://codein.withgoogle.com/tasks/4997285060542464/))

Technologies identified to use in gitignore.io are: C, Node and Visual Studio Code

[2017-12-13 04:58] kmehant opened #257 "Add detailed instructions on how to use dockers to build Bassa"
Currently, we have two Dockerfiles to spin up two different containers for Bassa frontend and backend.

There is a pull request( #249) on docker-compose to spin up all the containers for Bassa UI, Core and MySQL, the work is in progress. To encourage easy usage and build of Bassa project, we need to update the `README.md`.

[2017-12-13 05:00] agentmilindu commented on #255
Nice! You are good to go. Let's generate the `.gitignore` file with the above discussed technologies.

[2017-12-13 14:40] malithsen commented on #255
Why C?
Include Python, Vim and Sublime

Also the following entries from current `.gitignore`
[code]

[2017-12-13 18:04] tintinmovie commented on #255
I choose C because in the current .gitignore file, there are entries for Object files (eg  ".o"  , " .obj") Apparently these are files are created while using C.  I may be wrong though.

[2017-12-14 01:57] malithsen commented on #255
Since C hasn't been used anywhere in the Bassa, let's remove it. Let's keep the vscode entry

[2017-12-14 01:59] malithsen commented on #244
Agreed

[2017-12-14 02:07] malithsen commented on #245
We can change the setup.sh to check if it's running as root and change the commands accordingly

[2017-12-14 09:17] tanmayanand44 commented on #253
@agentmilindu .Sir accidently,while doing GCI task-Migrate bower to yarn I abandoned it mistakingly instead of submiting for review.I had done the complete task(PR-#258). Now I am unable to reclaim it.Can u please enable it for me.

[2017-12-14 14:34] azisnaufal opened #260 "Failed to import the database"
I have create a db named "Bassa".
And I want to import the database that Bassa provided before.
Then I got this error message :
`ERROR 1452 (23000) at line 109: Cannot add or update a child row: a foreign key constraint fails (Bassa.#sql-7646_5, CONSTRAINT rate_ibfk_2 FOREIGN KEY (id) REFERENCES download (id))`

I have been fix this issue, I will send a PR ASAP.

[2017-12-14 15:58] kmehant opened #262 "Fix package.json validation issues"
@agentmilindu I would like to work on this issue

[2017-12-14 16:34] kmehant commented on #262
[code]

[2017-12-14 16:44] agentmilindu commented on #262
Nice! @kmehant Can you work on this issue?

[2017-12-14 16:48] kmehant commented on #262
Sure @agentmilindu, looks like you assigned it to @malithsen

[2017-12-14 17:36] agentmilindu commented on #262
@malithsen will be the mentor.

[2017-12-15 13:10] azisnaufal commented on #101
@kmehant That is because you use higher version of node js. This Bassa project only work on v6.xx version

[2017-12-15 13:10] tanmayanand44 commented on #253
@agentmilindu Sir,I still cannot do that task.It isn't showing that task in the list.

[2017-12-15 13:14] kmehant commented on #101
Thanks man :) I realized later and was able to setup.

[2017-12-16 02:18] virenkhandal opened #277 "Update CONTRIBUTORS.md"
## Expected Behavior
The change/improvement for CONTRIBUTORS.md will ensure that all contributors to the Bassa repository will be credited.

## Current Behavior
The current CONTRIBUTORS.md file only lists Milindu Sanoj Kumarage (agentmilindu) as a contributor to this repository. Updating this will show more contributors to the Bassa repository.

## Possible Solution
The code can be fixed so that t

[2017-12-16 13:31] #255 closed

[2017-12-16 13:32] #141 closed

[2017-12-16 13:33] #212 closed

[2017-12-16 13:34] malithsen commented on #140
Fixed #153

[2017-12-16 13:34] #140 closed

[2017-12-18 12:58] navanchauhan commented on #101
what are the 3 servers and commands to start them?(I am a fellow GCI participant)

[2017-12-18 13:25] pranayrobo commented on #253
@rehrumesh Sir, I completed my GCI task ([Bassa] Migrate the package manager to Yarn) and Referenced this issue too. Please review my task. You are one of the mentors for this task. Time is very crucial for this event, so kindly give your review for my task.
~Pranay Sharma (pranayrobo)

[2017-12-18 14:34] agentmilindu commented on #248
I now feel breaking the UI and API was not necessary and it add too many complications. Shall we merge the two into one Docker? @rehrumesh @malithsen @kmehant

[2017-12-18 14:44] agentmilindu commented on #257
@kmehant I think the current `docker-compose.yml` is targetting the developers, to help developers to develop  Bassa and run it with one command. Thus, this should go to Developer Guide wiki.

 Let's describe how to run the `docker-composer.yml` providing the needed environment variables, in a beginner-friendly manner.

[2017-12-18 14:46] rehrumesh commented on #253
@tanmayanand44 Please update the master branch.
@pranayrobo Please review the inline comments and do the needful changes. I have requested changes.

[2017-12-18 15:02] kmehant commented on #262
@agentmilindu Since this is fixed, im closing this issue :)

[2017-12-18 15:03] #262 closed

[2017-12-18 15:04] kmehant commented on #257
@agentmilindu I will work on it. Will send a pull request shortly

[2017-12-18 16:49] agentmilindu commented on #101
@Nuwini @kmehant I think other than running the UI and Core directly, we should use something like http://supervisord.org/ to run them because supervisor will start the process if it got crashed.

[2017-12-18 16:52] kmehant commented on #101
@agentmilindu I will go through supervisord and work on this issue.

[2017-12-19 07:03] agentmilindu opened #297 "Docker labels while build before pushing to Docker Hub via Travis CI"
We have to set values for `build-date` and `vcs-ref` in Docker labels when build before pushing to Docker Hub via Travis CI.

[2017-12-19 16:36] #297 closed

[2017-12-19 16:49] agentmilindu opened #300 "Add MicroBadger Docker Hub badges"
Generate badges from https://microbadger.com/images/scoreucsc/bassa

[2017-12-20 04:03] #300 closed

[2017-12-20 10:30] malithsen commented on #132
#235

[2017-12-20 12:33] agentmilindu opened #303 "Add webhook in Travis CI to trigger Microbadger"
Let's trigger Microbadger once we push a new Docker image to Docker Hub from Travis CI.

[code]

[2017-12-20 12:41] kmehant commented on #303
@agentmilindu on it

[2017-12-20 13:09] #303 closed

[2017-12-21 19:37] tanmayanand44 commented on #252
@agentmilindu I would like to work on this issue.

[2017-12-22 05:57] agentmilindu commented on #252
@tanmayanand44 Awesome!

[2017-12-22 18:27] agentmilindu opened #313 "Use Gulp Webserver Proxies to map the API to `/api`"
https://github.com/scorelab/Bassa/blob/b74c25d6012c525cc41fc5ed9d4a0dcca184c6b8/ui/src/app/index.js#L6

Instead `localhost:5000`, we need to have this value as `http://localhost/api`, but for this, we have to proxy the Flash API running on port 5000 to `/api`

[2017-12-22 18:44] agentmilindu opened #314 "ESLint for Bassa UI"
We should start using ESLint to lint Bassa UI. We need to create a `.eslintrc.yml` following Airbnb Style Guide.

[2017-12-22 18:44] agentmilindu commented on #314
I like going with installing ESLinkt globally rather locally. WDYT? @malithsen @rehrumesh

[2017-12-23 15:40] agentmilindu opened #319 "Get log level and log file name from a config file"
https://github.com/scorelab/Bassa/blob/a86b8d41b4c93f78d7032fd992f31c10a56f393f/components/core/Main.py#L14

[2017-12-23 15:48] agentmilindu opened #320 "Should get DB configs from Config file"
https://github.com/scorelab/Bassa/blob/a86b8d41b4c93f78d7032fd992f31c10a56f393f/components/core/DBCon.py#L9

[2017-12-23 15:55] agentmilindu opened #321 "Should get SECRET_KEY from a Config file"
https://github.com/scorelab/Bassa/blob/ef497a351b36e78ef6764e2da5c06dae6e413a93/components/core/REST.py#L19

[2017-12-24 05:37] agentmilindu opened #324 "Breakdown REST.py into manageable subparts"
I think we should break the `REST.py` into several parts as following,

Rename REST.py into Server.py
Create a directory as Routes/ and put an `index.py`
Create a User.py in `Routes` and add all the User related routes there.
Create a Download.py in `Routes` and add all the Download related routes there.
etc.

And finally, import all these Route files in `Routes` directory into `index.py` and then

[2017-12-24 05:44] agentmilindu opened #325 "Replace print statements with logging"
I see a lot of `print` statements while we have a proper logging mechanism configured in the code. We should replace all these `print` commands with `logger`

[2017-12-24 07:14] agentmilindu opened #326 "REST API endpoint testing"
Let's create API endpoint testing for Bassa.

I think  http://flask.pocoo.org/docs/0.12/testing/ would be a good way to test APIs.

[code]

[2017-12-24 15:50] tanmayanand44 commented on #326
@agentmilindu I will work on this issue.

[2017-12-25 09:00] iammosespaulr opened #332 "Wrong spelling in signup window for 'confirmation'"
Wrong Spelling

## Context
 This issue affects user readability
the spelling for confirmation is wrong
* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):cyborg hawk
* Link to your project:
![screenshot from 2017-12-25 14 30 11](https://user-images.githubusercontent.com/28682735/34339333-dda10a7e-e998-11e7-892d-c60ebd282

[2017-12-25 16:09] AdhyanDhull opened #337 "Update .gitignore using gitignore.io"
For ui/.gitignore file
Used gitignore.io to create a new .gitignore file using - vim, node, python, sublime text, visual studio code

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or

[2017-12-25 20:10] Beta-King opened #339 "New Feature"
I think it would be great if Bassa had capability to adjust download speed based on disk usage too, not just internet connection. Because large data download at high speed connection is possible to make disk slow (high disk usage) while multi-tasking. So, there will be no decrease disk performance while download.

[2017-12-26 02:00] malithsen commented on #339
Hi @Beta-King, this feature has already been suggested in #186

[2017-12-26 02:00] #339 closed

[2017-12-26 07:54] tanmayanand44 commented on #252
@agentmilindu Can u guide me a little.

[2017-12-26 08:07] agentmilindu commented on #252
@tanmayanand44 yeah, sure, check what `gulp-minify-html` did and `gulp-htmlmin` can do. Then change the code and see if any further changes are needed.

[2017-12-26 09:53] tanmayanand44 commented on #252
@agentmilindu Do we also need to update yarn.lock and package.lock?

[2017-12-26 12:17] agentmilindu commented on #252
@tanmayanand44 yes, if they got updated, then commit them also.

[2017-12-26 14:57] tanmayanand44 commented on #252
@agentmilindu Sir,but they automatically install htmlmin dependency when running yarn command.

[2017-12-27 05:40] tanmayanand44 commented on #252
@agentmilindu Please review.

[2017-12-27 05:58] agentmilindu opened #347 "Add Bassa logo to dashboard"
![image](https://user-images.githubusercontent.com/1391468/34372162-f0474ae2-eaf8-11e7-8d5b-2cb3ba331a8c.png)

Replace he above text in Dashboard with Bassa logo.

[2017-12-27 06:00] agentmilindu opened #348 "Check user type and show/hide admin menu"
![image](https://user-images.githubusercontent.com/1391468/34372232-4d4fecbc-eaf9-11e7-8a4a-0b3df586070d.png)

Show or hide the Admin menu depending on the user type. Only Admin level users should see it.

[2017-12-27 06:04] agentmilindu opened #349 "Restyle the User menu"
![image](https://user-images.githubusercontent.com/1391468/34372292-b0332a74-eaf9-11e7-917a-6a47edd61550.png)

Let's style this menu better way.

The menu should have a top part with user's details, name and thumbnail maybe.
Then should be the Log Out, Setting, etc menu items.

[2017-12-27 06:05] agentmilindu opened #350 "Better confirmation dialogs"
![image](https://user-images.githubusercontent.com/1391468/34372343-f4bcb4a8-eaf9-11e7-9159-91a74b658d36.png)

Let's use some UI plugins to show some nice confirmation dialogs.

[2017-12-27 07:20] agentmilindu opened #351 "Show a dialog to the user if the session has expired."
Show some kind of a dialog to the user saying the session has expired at least when a new request is sent to the API and gets a 403 forbidden response.

[2017-12-27 15:16] iammosespaulr opened #354 "MySQLdb does not support python3"

[2017-12-27 16:25] agentmilindu commented on #354
@iammosespaulr Can you elaborate it a little? Maybe the errors you get.

[2017-12-27 17:17] iammosespaulr commented on #313
I can do that.

[2017-12-28 03:29] sakshamgupta806 opened #357 "saksham gupta GOOGLE CODE IN"
Currently, we have two Dockerfiles to spin up two different containers for Bassa frontend and backend.

There is a pull request( #249) on docker-compose to spin up all the containers for Bassa UI, Core and MySQL, the work is in progress. To encourage easy usage and build of Bassa project, we need to update the README.md.

[2017-12-28 07:39] tanmayanand44 commented on #348
@agentmilindu .Can you please guide me a little to resolve this issue.

[2017-12-28 08:14] iammosespaulr commented on #354
@agentmilindu. Yeah sure you have suggested to use python 3 in the readme but in order to use MySqldb one must not use python 3 as pip3 cannot be used to install MySqldb due to compatibility issues

[2017-12-28 08:55] agentmilindu commented on #348
@malithsen will be you mentos for this issue :)

[2017-12-28 09:47] tanmayanand44 commented on #348
Ok thanks.

[2017-12-28 10:12] tanmayanand44 commented on #348
@malithsen Sir,guide me how to proceed.

[2017-12-28 14:24] malithsen commented on #348
Hi @tanmayanand44
There are 2 user types on Bassa.

1. Regular users
2. Admins

Admin  menu option in the side panel should only be visible to the admins. Currently it is shown to all users but only admins are allowed to view its content

[2017-12-28 15:23] iammosespaulr opened #360 "Setting Up Bassa in Windows is not Feasible"
The git bash shell does not support sudo and apt-get

[2017-12-28 15:29] agentmilindu commented on #348
@malithsen is some property set in user object to identify the user level? Where should he look for this?

[2017-12-28 15:37] malithsen commented on #348
`UserService.getAuthLevel()` will return the logged in user's auth level.

**Auth levels** - https://github.com/scorelab/Bassa/wiki/URL-Endpoints#post
ADMIN - 0
USER - 1

[2017-12-28 15:39] malithsen commented on #348
@tanmayanand44 @agentmilindu https://github.com/scorelab/Bassa/blob/bb455d083553da38c95e9e548bb6f77354d91755/ui/src/app/index.js#L119

This is how current functionality has been implemented. Not so neat

[2017-12-28 16:13] tanmayanand44 commented on #348
@malithsen Problem is that in Bassa/ui/src/app/components/services/NavService.js  all these 3 object items are being sent.We can control them then it's done.

function navService($q){
    var menuItems = [
      {
        name: 'Dashboard',
        icon: 'dashboard',
        sref: '.dashboard'
      },
      {
        name: 'Completed',
        icon: 'view_module',
        sref: '.table'
      },

[2017-12-28 17:21] malithsen commented on #348
`navService.loadAllItems()` is used by `MainController`, you can filter the items there based on role
https://github.com/scorelab/Bassa/blob/bb455d083553da38c95e9e548bb6f77354d91755/ui/src/app/controllers/MainController.js#L19-L23

[2017-12-29 02:23] amittal27 opened #364 "Creating an installation script for Bassa"
The instructions provide an outline for how to install Bassa onto the local machine; however, it may be hard to follow if the user is not already experienced with terminal, python, or git. Thus, it would be incredibly beneficial if the instructions were more detailed so users who aren't as familiar with the instructions specified in README.md for the installation procedure.

## Expected Behavior

[2017-12-29 06:43] tanmayanand44 commented on #348
@malithsen @agentmilindu I have created a PR #365. Please review it thoroughly as it is major feature and ping me for any suggestion.

[2017-12-29 09:35] iammosespaulr commented on #347
I added the wrong file by mistake and had it fixed just now

[2017-12-29 11:52] Yash2356 opened #367 "BASSA ISSUE"
Wrong Spelling
Context
This issue affects user readability
the spelling for confirmation is wrong

Version used:
Environment name and version (e.g. Chrome 39, node.js 5.4):
Operating System and version (desktop or mobile):Ubuntu 16.04 (virtual machine)
Link to your project:

[2017-12-29 11:57] iammosespaulr commented on #367
Hey this is just wrong , you not only copied my picture but you even went to the the extent of replicating my own issue

[2017-12-29 12:01] Yash2356 commented on #367
SORRY FOR THAT I DO NOT KNOW THAT BY MISTAKE I COPY THIS.

[2017-12-29 12:05] Yash2356 commented on #367
I WROTE THIS MY SELF YOU THOUGHT THAT YOUR CONTENT AND MY CONTENT IS SAME BUT I CHANGE IT NOW SO YOU ARE HAPPY WITH IT.AGAIN SORRY FOR THAT BY MISTAKE IT HAPPENS.

[2017-12-29 12:14] Yash2356 commented on #367
Thanks for it.

[2017-12-29 14:14] malithsen commented on #367
Hi @Yash2356,
I appreciate your enthusiasm to contribute. However plagiarism is unacceptable and SCoRe as an organization highly discourages you from attempting so.

[2017-12-29 14:14] #367 closed

[2017-12-29 14:21] malithsen commented on #354
Um I'm not sure I understand the issue correctly. Is it documented somewhere in Bassa to install mysql through pip?
pip cannot and should not be used to install anything other than python packages. It should be installed through the distro's package manager.

[2017-12-29 14:27] iammosespaulr commented on #354
Yeah you’re right the documentation is faulty

[2017-12-29 14:35] malithsen commented on #354
Could you please point where on the documentation it is instructed to install mysql through pip

[2017-12-29 15:04] Yash2356 commented on #367
I am so sorry! for this kind of misbehave i will never do this again.Please sorry.

[2017-12-29 15:53] JaDogg commented on #354
Related: https://stackoverflow.com/questions/4960048/python-3-and-mysql

[2017-12-29 16:49] malithsen commented on #354
`mysqlclient` will be installed when you run `python setup.sh develop`.

[2017-12-30 07:38] tanmayanand44 commented on #350
@agentmilindu I wish to work on this.

[2017-12-30 08:38] agentmilindu commented on #350
@tanmayanand44 Nice, suggest a good UI library for showing Dialog boxes. Work with @malithsen and @rehrumesh on this.

[2017-12-30 08:39] tanmayanand44 commented on #348
@malithsen @agentmilindu I have created a PR #365. Please review it thoroughly as it is major feature and ping me for any suggestion.

[2017-12-30 08:49] tanmayanand44 commented on #350
@agentmilindu @malithsen @rehrumesh We can use jQuery.

[2017-12-30 08:59] agentmilindu commented on #350
@malithsen Are we using Angular Boilerplate?

@tanmayanand44 If yes, check, there could be some Dialog box plugins especially for Angular Bootstrap.

[2017-12-30 09:17] tanmayanand44 commented on #348
@agentmilindu @malithsen I am experiencing a bug from my recently made PR #365.The first time we open up the login page and get logged in,it successfully shows menu items (admin removed for non-admin users) but again if we login then only admin menu is being shown for non-admin users.May this is due to Bassa progressive nature.This isssue gets resolved if we refresh login page and then login.
Plea

[2017-12-30 13:23] shlokj opened #370 "Documentation for Windows users needs improvements (GCI)"
In places where Linux commands are used, windows users face difficulties. For example in "sudo python setup.py develop" it should be mentioned that sudo signifies admin usage, and for Windows users they should run their CMD as administrator.

[2017-12-30 16:00] agentmilindu commented on #370
@shlokj I agree on this.

[2017-12-31 08:51] tanmayanand44 commented on #349
Created PR #373.Please review.

[2017-12-31 22:00] tintinmovie commented on #360
I have updated the windows installation page in the Bassa Wiki. It shows how to manually install all the dependencies that would normally be downloaded through setup.sh.

[2017-12-31 22:03] tintinmovie commented on #370
Maybe update the readme.md linking to the Windows Installation Guide wiki page?

[2018-01-01 07:08] iammosespaulr commented on #360
@tintinmovie Way to go buddy
LPGTM

[2018-01-01 07:08] #360 closed

[2018-01-01 07:30] agentmilindu opened #375 "Troubleshooting"
I created a new wiki page for [Troubleshooting](https://github.com/scorelab/Bassa/wiki/Troubleshooting)

Let's tag this thread in all the installation and setting up errors, thus we can see the most common errors and their remedies, which we can add to the wiki easily.

[2018-01-01 09:39] AdhyanDhull opened #376 "Setting up Bassa in a Windows 10 Machine"
Okay to start with I took help from the Windows Installation guide here : https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide

It helped a lot while setting up but it lacks a few things. It should contain stuff like setting up environment path variables and so on so that even a complete beginner can install and setup Bassa. Also you cannot completely rely on the guide, at some point

[2018-01-01 11:31] agentmilindu commented on #375
Setting up Bassa in Windows https://github.com/scorelab/Bassa/issues/376

[2018-01-01 13:16] agentmilindu commented on #376
Changing the `mysqlclient` version in `requirements.txt` to `1.3.10` fixed this issue.

[2018-01-01 13:26] padamchopra opened #377 "Incorrect Credential error and Admin privileges"
## Update:: Checkout the conversation thread below for the updated issue.
[code]

[2018-01-01 13:44] malithsen commented on #377
all these are installed through requirements.txt when you run `python setup.py develop`

[2018-01-01 13:45] padamchopra commented on #377
# Update
As @agentmilindu told me, all the requirements can be installed using `pip3 install -r requirements.txt`
Requirements.txt is saved in components/core. So I would like the instruction for this to be added to the readme setup instructions

[2018-01-01 13:48] malithsen commented on #377
https://github.com/scorelab/Bassa/blob/a94be85b8dc39fa7d023cb23f57ba2555b58d7a4/components/core/setup.py#L19

[2018-01-01 13:50] agentmilindu commented on #377
@malithsen @padamchopra Can we check if all these get installed when running `python setup.py develop`. It seems some are facing problems.

[2018-01-01 13:51] padamchopra commented on #377
Yes, I think the error here was- I ran this command using `python setup.py develop` But I started main.py using `python3 main.py`. Can this be the reason for the error?

[2018-01-01 13:52] malithsen commented on #377
Could be if 'python' refers to `python2`

[2018-01-01 13:57] padamchopra commented on #377
Then I guess it is totally my fault (really embarassed). But here's another issue I found-
On incorrect credentials- I get two popups for error, I think only one should be given
![error](https://user-images.githubusercontent.com/19776024/34468201-c205fe28-ef29-11e7-8747-42141bf1031f.png)

[2018-01-01 14:01] padamchopra commented on #377
## A second issue
Since the entire Bassa has realtime screen changes in response to user actions, I think when we approve the user, the request should disappear from the screen on the same time. But it still stays till I refresh-
![screenshot from 2018-01-01 19-28-58](https://user-images.githubusercontent.com/19776024/34468213-2d024db2-ef2a-11e7-98e0-97781532d3b2.png)
**Another suggestion**
 think

[2018-01-01 14:10] agentmilindu commented on #377
@padamchopra Shall we create a new issue for this and close this issue?

[2018-01-01 14:12] padamchopra commented on #377
@agentmilindu Ok

[2018-01-01 14:12] #377 closed

[2018-01-01 14:12] malithsen commented on #377
Duplicate credentials has been fixed https://github.com/scorelab/Bassa/commit/5c8053f3fe8c264fbc65c6257f023a5008cca76e

Second one would be a feature request. Related #341

[2018-01-01 14:15] padamchopra opened #379 "Incorrect Credentials message and admin tab issues"
## Incorrect Credentials error message
On entering incorrect credentials- I get two popups for error, I think only one should be given

![error](https://user-images.githubusercontent.com/19776024/34468324-378f282a-ef2c-11e7-9aa0-387457983761.png)

## Real-time update on approving user
Since the entire Bassa has real-time screen changes in response to user actions, I think when we approve the user,

[2018-01-01 14:17] AdhyanDhull commented on #376
Done. Thank you :)

[2018-01-01 14:19] malithsen commented on #377
@padamchopra @agentmilindu We can test whether all the python dependencies get installed by
1. Create a new virtualenv in components/core. `virtualenv -p /usr/bin/python3 bassa`
2. `source bassa/bin/activate`
3. Install dependencies `sudo python setup.py develop`
4. Check if everything has been installed `pip freeze`

[2018-01-01 14:52] demonsingh336 opened #380 "Bassa Bug And Improvement Methods"
Expected Behavior = When We Try To Code In git using there repository.. and clone the
bassa it should automatically recognise the user if he or she has signed in the particular
oprating machine.(it can be mobile or computer)

Current Behavior = Its Current behaviour is that, that it sometimes does not recognise the user
even if he is has signed in in the computer.

Possible Solution = Possible Sol

[2018-01-01 18:35] iammosespaulr opened #381 "sqlalchemy.exc.InvalidRequestError: This connection is closed"
The solution varies from distro to distro but for problems like this

![screenshot from 2018-01-01 20-35-59](https://user-images.githubusercontent.com/28682735/34470126-d232cac6-ef3b-11e7-84b1-42f2370de352.png)

You've got to add your credentials to the DBCon.py. Sample code for DBCon.py is as follows

[code]

[2018-01-01 18:39] iammosespaulr commented on #381
The solution varies from distro to distro but for problems like this ---->
![screenshot from 2018-01-01 20-35-59](https://user-images.githubusercontent.com/28682735/34470126-d232cac6-ef3b-11e7-84b1-42f2370de352.png)
The solution is rather simple ...
You've got to add your credentials to the DBCon.py
my sample code for DBCon.py is as follows
import MySQLdb
import os

_db=None

def get_db_con () :

[2018-01-01 18:47] agentmilindu commented on #381
You can either change the values in `DBCon.py` as above or if you have latest codes with you, set the database credentials as environment variables. But check if your `DBCon.py` has the following line.
[code]

If yes, then set these environment variables with your DB details.
1. BASSA_DB_USERNAME
2. BASSA_DB_PASSWORD
3. BASSA_DB_NAME

If you are on Linux, you can do this like `export BASSA_DB_NAME

[2018-01-01 18:48] agentmilindu commented on #375
DB Connection issues https://github.com/scorelab/Bassa/issues/381

[2018-01-01 18:50] iammosespaulr commented on #381
@agentmilindu Exactly

[2018-01-01 18:50] agentmilindu commented on #380
I guess this is a problem with Git, not Bassa.

[2018-01-01 20:11] tintinmovie commented on #376
I have updated the wiki, as I realized running the setup.sh file on windows didn't install anything, so now you have to install the dependencies manually.

[2018-01-02 02:34] demonsingh336 commented on #380
No Its Even With bassa... My explainatoin us not up to the mark but the bug is quite
similar

[2018-01-02 14:57] brettyjames opened #383 "Documentation needs Multiplatform Instructions"
## Expected Behavior
The instructions to setting up the development environment should have options for Mac, Linux, and Windows.
The documentation should be improved in order to assist users of the main operating systems, not just ambiguous UNIX style commands.

## Current Behavior
There is no sudo command on Windows.
Windows returns an error on use of this command and can do no further.

## Possi

[2018-01-03 13:39] iammosespaulr commented on #139
I would like to do the linux part

[2018-01-03 13:57] malithsen commented on #383
Hi @brettyjames
A windows installation guide is available in the wiki https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide

[2018-01-05 13:23] kartiknawani opened #395 "Lack of information"
The installation sub menu in Readme.md shouldd contain more information on how to install it.There should be a link to a tutorial where it tutors you how to,what to do while installing and after installing.
For a person new to bassa and python like me , he/she should recieve more information about the program.

[2018-01-06 02:07] malithsen commented on #395
Please specify what information the README.md lacks so we can improve it

[2018-01-06 17:49] emgaurv opened #398 "Inconvenience in opening downloaded File."
## What is the Problem?
I've used Bassa Project about half an hour & everything was working fine but I've seen that whenever I download any File its Summary available in "COMPLETED SECTION " and there is no Button to Open that file unless or until we open UI folder which is in Bassa Project Directory, This is so Inconvenient for
User.

## Solution
For the solution of this problem if we add a "show

[2018-01-07 02:51] malithsen commented on #395
There are installation guides available in the wiki. Maybe it's better to add a link to README as well

[2018-01-07 09:15] padamchopra commented on #379
Update: The incorrect login credential error was fixed with commit `5c8053f` by @malithsen

[2018-01-08 06:43] tanmayanand44 commented on #398
@agentmilindu @malithsen  I will work on this issue.

[2018-01-08 13:47] Shashank-Maurya opened #401 "Should have a new look as this one looks old."
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2018-01-08 14:49] XuXicheng opened #402 "Small advice on improving the environment"
Anyway, these are some of my advice. Thanks for your attention.
## Expected Behavior

It should be an environment easy for all people to visit and find the things they need efficiently.
## Current Behavior
This website is good, the different sections are well organised. However, I suggest one thing to improve.
There are too many things to learn when visiting a brand new environment. Time is limite

[2018-01-08 16:58] bharadwaj-abhi opened #403 "GCI - new feature - classification of files submitted for download"
Google Code-In 2017:
Daily different users will be submitting requests for download to the admin. So it will better for the admin if there is some way in which there is a classification.

## Expected Behavior
 You can add two buttons(high priority, low priority) in the normal user's interface which would allow them to classify the file they are submitting according to the priority of their needs.

[2018-01-09 13:23] malithsen commented on #401
Hi @Shashank-Maurya This issue is too broad. Please specify which which part of UI can be improved and your reasons. Please create a new issue by following the issue template

[2018-01-09 13:23] #401 closed

[2018-01-09 13:27] #402 closed

[2018-01-09 14:47] Shashank-Maurya opened #405 "Having problem in cloning the file"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2018-01-10 01:59] malithsen commented on #405
Please be more descriptive when filing an issue. What exactly goes wrong?
Follow the issue template

[2018-01-10 15:15] Shashank-Maurya opened #406 "Should have tutorials of using Git for new users."
## Expected Behavior

It should have tutorials on how git works for new users as when I used Git for the first time, I was also unable to use it.

## Current Behavior

The current screen of Git does not have tutorials to help new users.
## Possible Solution

Should update the version with tutorials for new users

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context
First I was unable to use G

[2018-01-10 17:42] agentmilindu opened #407 "Separate out `aria2` from the Bassa core and finish Dockerizing Bassa"
- [x] `aria2` should be taken out from Bassa
- [x] `aria2` should be running in a Docker container
- [ ] Optime all the Dockers for Production use
- [x] Wire all the Docker containers with Docker Compose

[2018-01-10 17:43] malithsen commented on #406
Out of scope of Bassa

[2018-01-10 17:43] #406 closed

[2018-01-11 11:35] SidDevelop opened #409 "Bassa not working in windows 10 machine"
When I try and run Bassa in windows 10, the localhost opens and then when i enter the credentials, a mysql error pops-up and the python file indicates an error. Pls fix

[2018-01-11 11:54] malithsen commented on #409
Please verify whether you have updated DBCon.py with your db credentials

[2018-01-12 00:56] sarang-s opened #410 "Package Bassa into a installer"
## Your documentation can only be understood by developers.

Make a Bassa installer so that non coders or non developers can setup a server easily and use it
The documentation shows that a lot of installation of different packages is necessary for setting up Bassa.
If you could package all the necessary installations into a Installer,  it would enable developers and non developers to use it easily

[2018-01-12 01:52] malithsen commented on #410
This is already in progress as GCI tasks :)

[2018-01-12 01:52] #410 closed

[2018-01-14 02:40] agentmilindu opened #411 "Restructure the API code and make improvements."
Study the code and identify the issues, bad coding decisions, security vulnerabilities, anti-patterns, etc.
Then identify the best way to restructure the code and fix the issues above while optimizing the code and increasing readability and maintainability.

Propose us all the issues you see and the changes you plan to do.

[2018-01-15 03:47] iammosespaulr commented on #379
@agentmilindu This has been fixed ..

[2018-01-15 04:47] #379 closed

[2018-01-15 10:27] Kalyan3578 opened #413 "Pull Request Template not available"
It would be more easier to access and contribute for new users if there were PR templates so they would get an idea of what exactly to type and describe about.

[2018-01-15 10:30] #413 closed

[2018-01-15 10:31] Kalyan3578 commented on #413
Sorry, just re-checked, there is indeed a PR template. :p

[2018-01-17 15:21] iammosespaulr commented on #313
a small problem though ... if you change BassaUrl to localhost/api then what about the POST requests from DashBoardService.js
[code]

[2018-01-17 18:37] iammosespaulr commented on #101
hey i had already submitted a pull request for that earlier

[2018-01-21 07:20] iammosespaulr opened #418 "No UI tests .."

[2018-01-21 09:01] #405 closed

[2018-01-21 09:01] #395 closed

[2018-01-21 09:02] #383 closed

[2018-02-04 16:36] padamchopra commented on #409
@SidDevelop Try following instructions in this [wiki](https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide), or you can simply watch a video tutorial for it on [YouTube](https://www.youtube.com/watch?v=QAQaThaUOgE&feature=youtu.be)

[2018-02-05 12:15] iammosespaulr commented on #418
#412  fixes this

[2018-02-05 12:15] #418 closed

[2018-02-05 15:01] iammosespaulr commented on #326
done this #412

[2018-02-10 19:07] vivonk commented on #351
@agentmilindu can I work on this or any issues which are labeled with `GoogleCodeIn`?

[2018-02-10 19:19] vivonk commented on #381
@agentmilindu is it should be added to the `README.md ` as it is the general issue that users/developers will face. Also, can be added to troubleshoot wiki

[2018-02-11 20:10] vivonk commented on #324
@agentmilindu  is this issue still pending? I would like to work on this

[2018-02-11 21:12] vivonk commented on #325
@agentmilindu I can see some `print` statements in Download related python files. Does these print statements should be logged ? I would like to work on this

[2018-02-12 08:25] agentmilindu commented on #325
I see no reason to `print` anything, need to change to use loggers.

@malithsen @rehrumesh

[2018-02-12 08:28] agentmilindu commented on #324
Hmm, check the currently open PR(https://github.com/scorelab/Bassa/pull/400) by Padam. He introduces some changes, which might break the UI. Thus we have to change the UIs accordingly. if you can work on that PR and improve it to get th UIs, etc also working, that would be awesome!

@padamchopra Can you enlightn us on this?
@rehrumesh @malithsen

[2018-02-12 16:03] vivonk opened #428 "Make CLI tool for Bassa to do managing tasks"
## Improvement that can be helpful for serving this tool in better way
Right now the Bassa server need to give a command based start like this
[code]
where as, to make it a useful tool, improvement should be
[code]
## Expected work that have to done

- Linux/Window/MacOS supported tool
- Improving functionality in different manners (e.g Multi database support)
- Making OS based packages from the c

[2018-02-12 16:04] vivonk commented on #428
@agentmilindu @iammosespaulr Please add more things in this

[2018-02-12 17:41] padamchopra commented on #324
@agentmilindu @vivonk , what I've done is that I've changed the code to give the response in the following way-
[code]

Earlier it was in the following way-
[code]
Due to this change in the response structure, the frontend might break. What I've done is the correct way for responses, so before merging the PR, the UI must also be worked upon

[2018-02-12 18:07] agentmilindu commented on #428
This idea looks good to me!

@charithccmc @rehrumesh @malithsen @JaDogg

[2018-02-13 04:08] agentmilindu commented on #428
I think this Python CLI would be a Bassa API consumer just to make things easy for the Bassa maintainer. But still have to do the deployment as usual. I see no point giving this CLI heavy loads like setting up Bassa. The CLI client would be a lightweight tool that communicates with Bassa server hosted anywhere.

Setting up Bassa should be automated with scripts or by using package mangers like APT

[2018-02-13 08:18] raju249 commented on #411
I can take up this issue, will come up with a plan after throughly understanding what Bassa does.
Would like to make this project modularised. With each module having files only which are related to that particular Module.

Also we can add a documentation wiki showing what each module does.

[2018-02-13 08:18] raju249 commented on #411
Can I work on this directly or I will first have to pass the proposal and start working when GSoC starts ?
@agentmilindu @charithccmc

[2018-02-14 13:17] vivonk opened #430 "Add a middle state status on UI when clicked to login button"
When I click on login button, nothing happens and after some time it will show dashboard. It would be better if we can show the state changes to user after clicking login button
For example,
- When the user clicks the login button, a `logging in` should be shown
- If API is not working then an internal server error should be shown on the UI
- If user click `enter` on username input field then also

[2018-02-14 18:21] Asutosh989 commented on #430
Hi @vivonk Can I work on this issue?

[2018-02-15 10:08] vivonk commented on #430
@Asutosh989 wait while mentors will see this and if need help then  I will ping you back 😄

[2018-02-15 11:46] menuka94 opened #431 "Login gives out 500: Internal Server Error"
Cannot log in using 'rand' and 'pass' after building Bassa. Error message in the console output: `POST http://localhost:5000/api/login 500 (INTERNAL SERVER ERROR)`

## Expected Behavior

Should log in and redirect to the dashboard or display an error message.

## Current Behavior

No visible output or change in the UI. The error is only displayed in the browser console.

## Possible Solution

Prov

[2018-02-15 11:52] vivonk commented on #431
I think this is same of #430, try to check first before adding a new issue

[2018-02-15 12:04] menuka94 commented on #431
Apologies for adding a duplicate issue. However, I did search before creating the issue and there was no mention of an explicit Internal Server Error. #351 says 403 Forbidden and #430 says 'If API is not working then an internal server error should be shown on the UI'. There's no 'if' here. This 'is' an Internal Server Error right off the fresh build of a new clone. Hence the new issue.

[2018-02-15 12:09] vivonk commented on #431
I think you are getting wrong. #351  is about all APIs, it's maybe the error 300 or 400 or 500. However when you are facing 500 internal server error then it's your configuration fault, not a codebase issue. DIscuss your configurations on chat and let's solve it.

[2018-02-15 12:16] menuka94 commented on #431
Sure. Thanks.

[2018-02-15 12:27] agentmilindu commented on #351
@vivonk yes, you can work on this

[2018-02-15 12:28] agentmilindu commented on #430
yeah, I think this should be implemented. Let's proceed.

[2018-02-15 16:21] malithsen commented on #431
Hi @menuka94
1. Is the backend server running?
2. Is DBCon.py configured with your db credentials?

[2018-02-15 16:42] menuka94 commented on #431
@malithsen The server was running. But I had wrongly ordered the arguments in `MySQLdb.connect()` function. It worked after using `MySQLdb.connect(host="host", user="username", passwd="password", db="Bassa")`. It works now!
Thanks for the tip :)

[2018-02-15 19:04] Boot-Error commented on #407
I can take up the issue.

Since the code base uses aria2c via its JSONRPC api, the code can be kept untouched.
Use docker-aria2c and link that running container to api server container, along with a volume added to the aria2c container that stores the downloaded content.

[2018-02-16 17:12] #431 closed

[2018-02-17 09:31] agentmilindu commented on #407
Yeah, you can go ahead!

[2018-02-17 15:12] Asutosh989 opened #432 "gulp serve error due to broken packages"
On running `gulp serve`, I got an error as follows : -

/Documents/gsoc/Bassa/ui/node_modules/require-dir/index.js:93
            if (!require.extensions.hasOwnProperty(ext)) {
                                    ^

TypeError: require.extensions.hasOwnProperty is not a function
    at requireDir (/home/asutosh/Documents/gsoc/Bassa/ui/node_modules/require-dir/index.js:93:37)
    at Object.<anonymou

[2018-02-17 15:13] Asutosh989 commented on #432
I have a fix for this and would be creating a PR shortly.

[2018-02-17 16:13] Asutosh989 commented on #407
@agentmilindu I am interested to solve this issue. Can I take up this issue?

[2018-02-17 16:15] Asutosh989 commented on #430
Ok, I am starting on this issue then?

[2018-02-17 16:49] vivonk commented on #430
I have my exams in a week so you can go @Asutosh989 :smile:

[2018-02-18 07:51] Asutosh989 commented on #432
I think the issue is solved successfully with the PR #433 . So I am closing the issue.

[2018-02-18 07:51] #432 closed

[2018-02-18 07:51] Asutosh989 commented on #430
Thanks @vivonk

[2018-02-18 21:23] agentmilindu commented on #428
The context of a place which has a lot of servers is a bit different than we deploying Bassa on our local machines. Mos of the cases, they have container orchestration mechanisms like Kubernetes, Docker swarms, Rancher, etc. Or they have VM orchestration mechanisms like  OpenStack, etc.

Having an APT package is good. But how well we can setup database servers, etc with APT and guarantee the scali

[2018-02-18 21:43] vivonk commented on #428
Hopefully, SSH will best to get connected and do concerns. And I am working on it for the apt package. I have made some services for the Bassa and trying to add some roles to it.
About the scaling, we can consider that the servers are more like to the normal servers, say Linux based machines, which are having the ability to do all the work, which the Bassa server do for a normal system. :smile:

[2018-02-19 12:41] iammosespaulr commented on #347
@agentmilindu this has been done

[2018-02-19 12:41] iammosespaulr commented on #347
https://github.com/scorelab/Bassa/pull/434

[2018-02-19 12:41] iammosespaulr commented on #347
![screenshot from 2018-02-19 18-06-50](https://user-images.githubusercontent.com/28682735/36378287-447bb7ca-15a0-11e8-9af5-dd14e6c802e4.png)

[2018-02-19 12:43] iammosespaulr commented on #347
@malithsen

[2018-02-21 13:50] Asutosh989 opened #435 "Bassa does not start anymore"
Attempt to start Bassa fails with a python `ModuleNotFound`  error:

[code]

## Expected Behavior
Bassa server should start

## Current Behavior
Fails with `ModuleNotFoundError`

## Possible Solution
Changes issued by https://github.com/scorelab/Bassa/commit/af72fc9e2258a5c129abea5e7bb2c755e22730e8 has not been synced with `Main.py`. Changing the set of imports should do the trick, I guess.

`REST

[2018-02-21 14:11] Asutosh989 commented on #435
After a bit of digging, I found that it's not possible by a simple rename.

So the possible solutions here would be either to:
 - Revert commit https://github.com/scorelab/Bassa/commit/af72fc9e2258a5c129abea5e7bb2c755e22730e8
 - Use [Flask Blueprints](http://flask.pocoo.org/docs/0.12/blueprints/#blueprints)

[2018-02-21 14:34] agathver commented on #435
Same issue :/

[2018-02-21 16:07] Asutosh989 opened #436 "Loading settings from environment vars and a env file"
Currently, users have to edit `DBCon.py` manually, this affects upgradability as its tracked by git. Also its difficult to automate this editing while making a build script, for example making a Dockerfile.

Bassa already loads settings from environment vars, additional support for loading configuration from a file is desirable.

## Expected Behavior
Bassa should load configuration from a config f

[2018-02-21 17:19] saisankargochhayat commented on #435
@malithsen @padamchopra  is Bassa with the latest commit working for you guys?

[2018-02-21 18:09] padamchopra commented on #435
No, it isn't working. #429 by @vivonk is aimed at fixing this (he has incorporated Flask Blueprints)

[2018-02-22 17:19] saisumit commented on #411
Can you point to the part of code, where you think restructuring can be done to give a head start.

[2018-02-24 14:38] Asutosh989 commented on #436
This also covers #320  #321

[2018-02-25 13:26] Asutosh989 commented on #430
Hi @vivonk , a small doubt. Since logging in takes place very fast, so to add a middle state status, should I introduce a delay or something?

[2018-02-25 15:46] vivonk commented on #430
We don't need a delay. In actual, it takes time to check or may not take, but if the server is not running then the login will not proceed further.

[2018-02-25 16:47] Asutosh989 commented on #430
Like presently it is not showing any error if the server is not running, but in ideal case it should show some error or something. Am I right?

[2018-02-27 21:19] vivonk commented on #430
Yes @Asutosh989

[2018-02-27 21:22] vivonk commented on #350
I would like to work on this, as @tanmayanand44 is not working, I think

[2018-03-01 06:32] vivonk opened #441 "Showing download progress for a downloading process"
Feature Request

## Expected Behavior
When the file is downloading, we should show progress of a download

## Current Behavior
Currently, we only show that file is downloading but not the progress of the download
## Possible Solution

Sample codes or design
https://codepen.io/markhillard/pen/KJojb
https://material.angularjs.org/latest/demo/progressLinear

[2018-03-01 06:33] vivonk commented on #441
@malithsen @rehrumesh @agentmilindu @padamchopra  what you say about it?

[2018-03-04 13:23] #435 closed

[2018-03-07 20:45] lakinduakash opened #443 "Add download by pressing Enter key"
## Expected Behavior

In dashboard ,user should able to add download by pressing Enter key.

## Current Behavior

Pressing Enter key does nothing and always user have to press fab button on ui.

## Possible Solution

adding following in **dashboard.html**
[code]
and adding following in **DashCtrl.js**
[code]

## Steps to Reproduce (for bugs)

1. Log into bassa and focus on add download field and t

[2018-03-08 04:54] vivonk commented on #33
I don't know about ongoing things of pypi module but when I tried to install through pip and using it, it gives error. I want to work on pypi module to setup so please provide me necessary details @agentmilindu @rehrumesh

[2018-03-08 19:11] vishrutkohli commented on #411
Hi, i am really excited to work on this issue. To start contributing to this issue should I first make the proposal or just start with small enhancements to contribute . for example writing the python code in pep-8 style.

thanks

[2018-03-09 20:20] vishrutkohli opened #445 "Pep8 style coding for all python files ."
"The code is read much more often than it is written"
Pep8 provide a reference point (and a standard) for the pythonic way to write code. The PEP8 is the Style Guide for Python Code, and it covers:

formatting
comments
naming conventions
It also has a lot of programming recommendations and useful tips on various topics, which aim to improve readability (and reliability) of your code

## Current Be

[2018-03-10 07:08] vivonk commented on #445
Good work @vishrutkohli

[2018-03-10 19:05] vishrutkohli commented on #445
@agentmilindu @malithsen @rehrumesh @charithccmc
Hi, I have written the code for these 2 files mentioned above and is pushed on my forked repository(https://github.com/vishrutkohli/Bassa/commit/b371898eea5fb611e1028663bd9812eab5f150f6). please review it so that I can make a pull request and convert all python codebase into the same format.

[2018-03-10 19:05] vishrutkohli commented on #445
@vivonk  thanks

[2018-03-19 04:51] vivonk opened #446 "Make a separate folder for Downloads and make sub folders for different type of files"
Right now, downloaded files goes to root directory of the project which don't make a good sense. If a new folder for Downloads be there then it will look good and will easy to manage.

Further it can be also done like we can categories files into certain category like media, document, text, zip and more, Download the new file into relevant category.

[2018-03-19 04:51] vivonk commented on #446
@rehrumesh @agentmilindu what do you say about it?

[2018-03-21 14:20] vibhavagarwal5 commented on #381
`MySQLdb.connect("db", os.environ.get('BASSA_DB_USERNAME'), os.environ.get('BASSA_DB_PASSWORD'), os.environ.get('BASSA_DB_NAME'))
` doesn't work

`            _db=MySQLdb.connect(user="TYPE_YOUR_USERNAME",passwd="TYPE_YOUR_PASSWORD",db="Bassa")
` worked for Mac and linux Mint

[2018-03-21 14:21] iammosespaulr commented on #381
It will work only when you export the variables @vibhavagarwal5

[2018-03-21 14:25] vibhavagarwal5 commented on #381
Tried that but didn't work out.

[2018-03-24 19:07] vivonk commented on #351
One more thing that should we consider only 403 or anything apart from 200. @agentmilindu

[2018-03-25 02:38] agentmilindu commented on #351
@vivonk Yes, anything apart from 200 should be handled, but when it is 403, we should mention it explicitly  and ask the user to log in.

[2018-03-25 17:59] rmddcr opened #447 "Lack of documentation for the dependancies when installing bassa server"
There is no precise environment  dependency-list needed for installing bassa sever in the relevant environments.
Add those dependencies to read me file would be nice.  :)

[2018-03-25 18:30] malithsen commented on #447
Hi @rmddcr Dependencies will be installed automatically by the installation scripts. Installation guides for each platform are available in the wiki https://github.com/scorelab/Bassa/wiki
If there's any specific dependency that is omitted in the installation process, please feel free to open another issue following our issue template. I am closing this for now :)

[2018-03-25 18:30] #447 closed

[2018-03-25 18:32] malithsen commented on #446
It is supposed to get downloaded into the `down_folder` path specified in https://github.com/scorelab/Bassa/blob/master/components/core/dl.conf

[2018-03-25 18:34] malithsen commented on #445
Good work @vishrutkohli
Please send a PR

[2018-03-25 18:36] #443 closed

[2018-03-25 18:45] malithsen commented on #441
Hi @vivonk
This could be a regression. The progress bar was an implemented feature. How it used to work was, backend opens a socket connection for each active download and sends completed percentage to the client side. The client then renders the progress with `<md-progress-linear>` directive as you've pointed out.
I am not sure what is causing the error now. If you can investigate it and propose

[2018-03-25 18:52] vivonk commented on #446
@malithsen but I can't see any folder names by `down_folder` or is it should be changed in dl.conf. And how about,

[2018-03-25 19:04] vivonk commented on #441
So the web socket connection was made to check the process asynchronously? or a time trigger?

[2018-03-26 10:41] rmddcr commented on #139
I would like to do macOS part

[2018-03-29 14:04] rmddcr commented on #119
i am interested to do this

[2018-03-30 17:49] avsingh999 opened #450 "Show Password"
There is no option for show password

## Expected Behavior
when we Signup/Signin then where should be an option for show password

## Current Behavior
no option for see type password

[2018-03-30 17:55] avsingh999 commented on #450
I would like to work on it.

[2018-04-01 06:14] avsingh999 commented on #450
@padamchopra  please assign me

[2018-04-02 08:11] vivonk opened #451 "Implement search functionality in downloaded files"
# Feature Request
## Expected Behavior
When we have a lot of files downloaded by Bassa server then to find a file by scrolling is not a great way. We should implement a file search with some filters which will sort out files.

## Current Behavior
You have to scroll through files to check

## Steps to Implement

1. Design a  user interface for search functionality
2. Develop APIs for search functio

[2018-05-18 01:20] agentmilindu opened #452 "As a User, I should be able to see the downloaded files in a grid and list view"
Grid view will show the files with suitable file type icon(example. File explorer in windows/Linux)

[2018-05-18 01:21] agentmilindu opened #453 "As a User, I should be able to click on the Download button and download the file"
Similar to Google drive for single and multiple files to download

[2018-05-18 01:22] agentmilindu opened #454 "The user should be authorized before downloading the files from the server"
Only person having user account can download the files from server (ex. Only the person can download the files from Drive who have access to it.)

[2018-05-18 01:23] agentmilindu opened #455 "User's internet should be consumed as less as possible for downloading files"
Files will be downloaded in a compressed format so that it’s size will small as compared to a single file or multiple files. ( ex. Google Drive transfer files in a compressed file format)

[2018-05-18 01:24] agentmilindu opened #456 "As Users, we should be able to download same file/files from a single link"
A single link will download file/files from server to local (similar to Google Drive file sharing system)

[2018-05-18 01:25] agentmilindu opened #457 "As a User, I should be able to download multiple files at the same time"
User don’t have to put download one after one to download in queue, a concurrect connection for downloads will be there. ( Ex. Google Drive allow multiple zip download at same time)

[2018-05-18 06:38] vivonk commented on #452
I am unable to assign myself, please provide me access to do that 😊

[2018-05-23 19:44] vivonk opened #458 "File not found exception missing"
When someone deletes a file from frontend and if the file is already deleted manually then instead of breaking the code, a simple file not found exception can be handled.
## How to resolve
Add FileNotFoundError exception in `DiskMan.py`

## Effect of this
If a file is not found on the path then file details should be removed for database

[2018-05-29 10:50] vivonk opened #462 "Bassa uses localhost URL's, instead use IP address of localhost"
## Feature bug

## Expected Behavior

Currently, when someone will use Bassa for the enterprise then localhost will be redundant because most of the requests use localhost.

## Current Behavior

Someone on the same network can't access Bassa server for any activity because browser makes requests to localhost which is itself.
## Possible Solution

Instead of making localhost requests, use Bassa ser

[2018-05-29 10:50] vivonk commented on #462
@agentmilindu @rehrumesh @malithsen  what you think about this?

[2018-05-30 10:20] rehrumesh commented on #321
https://github.com/scorelab/Bassa/blob/1294190d79cc00f98e0579455564634ac858b015/components/core/Server.py#L19

[2018-06-02 14:08] vivonk opened #466 "setup.py install fails on different pip version"
### Code improvement, Bug Fix

## Expected Behavior
On Travis build, setup.py exit with an error because in python3 pip.req is working with pip 9 version. On pip install, the latest version is pip 10 and code should work fine.

## Current Behavior
In pip 10, setup.py exit with following error
[code]

## Possible Solution

[code]

## Your Environment

* Version used: latest one
* Environment name a

[2018-06-05 13:27] vivonk commented on #466
This issue has been resolved in #468, should we close this?

[2018-06-07 03:23] gayashanbc opened #469 "Security vulnerability in the Flask Socket.io server"
Any client can connect to the Flask Socket.io server in the Bassa back-end, even clients who are not authenticated/authorized. Hence, there's a security vulnerability.

## Expected Behavior
Every client who connects to the socket.io server should be authenticated/authorized.

## Current Behavior
The socket.io connection can be made from any client including unauthenticated/unauthorized clients.

#

[2018-06-16 15:52] #452 closed

[2018-06-17 08:18] vivonk commented on #453
Solved in #464 , moved it from in-progress to done in GSoC 2018 Milestone

[2018-06-17 08:18] #453 closed

[2018-06-17 11:04] vivonk commented on #466
issue resolved, closing this 😊

[2018-06-17 11:04] #466 closed

[2018-06-17 11:05] vivonk commented on #458
this issue has been resolved in #459 , closing it

[2018-06-17 11:05] #458 closed

[2018-06-23 18:01] vivonk opened #470 "Adding more admin controls to the Bassa"
## Expected Behavior
Adding more controls to Admin user like Download limit, time for server off, content restriction, user base statistics will take Bassa to complete enterprise form.
## Current Behavior
Right now, we don't have some good admin actions which define Bassa as admin service.

## Possible Solution
Create new issues with feature implementation tag and context with this main issue.

##

[2018-06-23 18:06] vivonk opened #471 "Improve downloaded file view using Angular material library and stylesheet"
## Expected Behavior
Right now, we are using some custom CSS code in designing. We can use the material library and material stylesheet for good looking UI. Something similar to [this](https://stackblitz.com/angular/jnloeknlkam?file=app%2Ftable-pagination-example.ts)

## Current Behavior
We are using simple `li` element for showing downloaded files. We have to make UI some interactice and good loo

[2018-06-23 20:31] vivonk commented on #332
Yes @rkpattnaik780 now view looks like this
![image](https://user-images.githubusercontent.com/25587962/41813374-86882bc6-7752-11e8-96b5-123b8908c5e6.png)

[2018-06-23 20:31] #332 closed

[2018-07-03 18:19] vivonk opened #473 "Implement Admin level permission for deleting temporary compressed files"
### Feature Implementation

## Expected Behavior

In PR #472, compressed files stick in the temporary folder until or unless someone delete them manually. So better way would be, we provide a Admin interface for how many compressed files are in tmp folder so that he/she can manage the files. Operations would be delete, replace and more.
## Current Behavior

Right now compressed files have to delet

[2018-07-03 18:21] vivonk commented on #473
@agentmilindu @rehrumesh I guess this could be an Admin control as we discussed over hangout

[2018-07-22 21:54] vivonk opened #474 "Refactor API endpoint declaration code"
As we discussed in PR https://github.com/scorelab/Bassa/pull/465, we have to register all the end points to Server.py (earlier Rest.py) and all the logical things should be inside the respective files.

## Expected Behavior

Making code more reliable and easy to understand, like declaring all API endpoints at the same place.

## Current Behavior

Server.py is having server and socketio initializat

[2018-08-01 17:10] gayashanbc opened #477 "Display download size when adding a new download"
### Feature Proposal
It would be really helpful if the size of the file to be downloaded is shown to the user before adding a new download, so that the user can decide whether to add the download based on the available quota.

[2018-08-01 18:18] vivonk opened #478 "Implement local file upload feature"
Generalize Bassa for every possible use. As user currently add a url to download. What if they want to share files with other users which are in their local.
## Expected Behavior
Implement a local file upload feature so that users can share content in a secure and easiest way.

## Possible Solution

A simple/ compressed file upload architecture on front end and back end.

[2018-09-15 11:54] vivonk commented on #321
@rehrumesh It has been resolved with #475 in https://github.com/scorelab/Bassa/blob/2db2841f0ad0b013e26c5a841c7447c762d663cb/components/core/utils/app_constants.py so can we close this?
Branch - Develop

[2018-09-15 11:56] vivonk commented on #381
@agentmilindu can we write it in documentation and close it here?

[2018-09-15 16:29] vivonk commented on #326
@agentmilindu should we add this in a further task (next version target or with every PR) and close from here?

[2018-09-15 16:31] vivonk commented on #260
@azisnaufal I guess it's because when you created a Bassa database from command then properties was written before and now it's trying to override. Can you tell in more detail about what is wrong with this specific?

[2018-09-15 16:33] vivonk commented on #252
@agentmilindu @rehrumesh can we close this? it's resolved :)

[2018-09-16 21:30] vivonk commented on #260
Oh that's nice @azisnaufal. @agentmilindu can we close this issue?

[2018-09-21 21:00] surana-mudit commented on #478
Hi @vivonk I am new to this organization and project, and I would like to start with this issue.
Can you please help me in getting started with the issue.

[2018-09-21 21:05] vivonk commented on #478
Thanks, @surana-mudit for showing your interest. So the thing is Bassa only download files from links. We have to implement a feature which can upload the file from local pc to the server. First, go to read me and setup Bassa. It might not be a beginner task so if you can explore the codebase first then you will understand better.
One more thing, learn it how we can upload files from client to ser

[2018-09-23 00:46] surana-mudit commented on #325
@agentmilindu  @vivonk  I would like to work on this issue. Can you please help me in getting started with it.

[2018-09-23 00:54] surana-mudit commented on #445
@malithsen  @vivonk  I would like to work on this issue. Should i start with the above mentioned 2 files (setup.py and UserManager.py) or are these already done?

[2018-09-24 14:30] phoenixking25 opened #481 "Add import statement for parse_requirements for pip above 10"
Import statement for parse_requirements in setup.py is different from pip <= 9.0.3

## Expected Behavior

Smooth installation on running `sudo python3 setup.py develop`

## Current Behavior

On running `sudo python3 setup.py develop` while deploying an error occur `ModuleNotFoundError: No module named 'pip.req'`

## Possible Solution

`try: # for pip >= 10
    from pip._internal.req import parse_r

[2018-09-24 20:47] vivonk commented on #481
https://github.com/scorelab/Bassa/pull/468
This issue is already resolved. Try to do things with develop branch, not master one.
Thanks for your concern :blush:

[2018-09-24 20:47] #481 closed

[2018-09-25 06:31] vivonk commented on #325
@surana-mudit thanks for showing your interest. You can start with checking the print statement in the backend code, `component/core`, and change that with logger info/warning/error respectively. For reference how logger is configured, check in `Main.py` and [here](https://docs.python.org/3/library/logging.html)

[2018-09-25 09:10] Paarmita commented on #67
@yruwanmalee I guess the signup should also be highlighted by making it button/ underline it.

[2018-09-25 11:27] vivonk commented on #445
@surana-mudit you can go a head

[2018-09-26 10:14] agentmilindu commented on #321
Fixed in https://github.com/scorelab/Bassa/pull/475

[2018-09-26 10:14] #321 closed

[2018-09-27 22:02] surana-mudit commented on #325
![before](https://user-images.githubusercontent.com/26516997/46176855-6ba7a300-c2ce-11e8-9dc9-ce752ceee9fd.png)
![after](https://user-images.githubusercontent.com/26516997/46176856-6ba7a300-c2ce-11e8-9cdb-8f7e88cb713f.png)
I have done these changes in the `DiskMan.py` file of `components/core`.
Are these fine ? Should I do this in the other files?

[2018-09-27 22:16] vivonk commented on #325
You don't need to configure it again. Once you configure logger, by default it will get things on the way.
Remove all configuration like
`basicConfig()`
Just use `logging.warning()`

[2018-09-27 22:41] surana-mudit commented on #325
okk so I don't have to use `basicConfig()` and `check_conf_availability()` in each and every file, just have to write the info/warning/error instead of print ?

[2018-09-29 18:11] phoenixking25 opened #484 "Add download input field must return to untouch state after adding any link(UX)"
Add download input field must return to untouch state after adding any link instead of validation error(red) state.

## Expected Behavior

After adding the download link the input field must set to untouched form state.

## Current Behavior

It goes in validation error state.(RED)
![red](https://user-images.githubusercontent.com/22527880/46249105-235cc200-c441-11e8-8f62-c3d2f3375d0f.gif)

[2018-09-29 18:37] phoenixking25 commented on #478
Ok thanks right now i am not working on this, but that point what i asked can help others or i can also work later on this. :)

[2018-09-29 18:38] vivonk commented on #478
It's up to you @phoenixking25 :smile:

[2018-09-30 08:54] aakashbansal commented on #484
I would like to work on this issue!

[2018-09-30 09:07] phoenixking25 commented on #484
Sure!

[2018-09-30 10:35] VibhorCodecianGupta commented on #478
Hello, I am currently working on this. Will be updating on the progress or in case I drop the issue.

[2018-09-30 10:56] phoenixking25 commented on #478
Sure no problem

[2018-09-30 17:17] aakashbansal commented on #484
Hey I have solved the issue. @phoenixking25 @vivonk Please review it! :)

[2018-09-30 17:18] aakashbansal commented on #484
#485

[2018-09-30 17:33] aakashbansal opened #486 "Readme Update required to specify the MySQL Server version(on WIndows)"
Readme.md needs to be updated and it should mention the details regarding MySQL Server version that is required to be installed on Windows.

The latest MySQL Server 8.x introduces something called caching_sha2_password' plugin that does not work with the existing codebase and gives the follwing error :

-----------------------------------------------------------------------------------
ERROR:initi

[2018-09-30 17:34] aakashbansal commented on #486
I can work on changing the Readme file. No issues.

[2018-09-30 17:40] VibhorCodecianGupta commented on #486
Huge life saver. Thanks!

[2018-09-30 17:59] aakashbansal commented on #486
Yeah! It literally took me more than a day and half to figure it out. Thought fellow contributors should know about this. :)

[2018-09-30 18:13] aakashbansal commented on #486
I updated the Readme. Here is the PR #487

[2018-10-01 04:53] vivonk opened #488 "Problem with docker build in Travis CI"
## Current Behavior

Whenever a new PR comes, docker build fails. It's happening from some time like last 6-7 PR.

### Error  -

## Possible Solution

I am not sure where is the problem but I guess the problem is on our codebase itself.
## Steps to Reproduce (for bugs)

1. Run the docker build on local
2. Check for different branches
3. Rewrite Travis configurations for this particular problem

[2018-10-01 18:29] #484 closed

[2018-10-01 18:38] aakashbansal commented on #486
So instead of the main Readme.md, i have updated the [Windows Installation Guide](https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide) to reflect the required changes. I'm closing this issue now.

[2018-10-01 18:38] #486 closed

[2018-10-01 19:32] aakashbansal opened #489 "Temporary duplicated file links when adding or removing downloads"
Whenever the user adds new download link or deletes the existing one, the list gets updated. But while the list is being updated, there is some duplicacy of the file links.

Please refer the screenshot :

![temp-repeated-files](https://user-images.githubusercontent.com/16841267/46311088-c26af080-c5de-11e8-84ba-f4b59688408b.gif)

[2018-10-01 19:33] aakashbansal commented on #489
I would like to tackle this issue!

[2018-10-01 19:41] aakashbansal opened #490 "User name should be displayed on the top (UX)"
As of now, the user name does not get displayed anywhere on the screen. The only way to know the username would be to click the hamburger icon that show log out button. Displaying the user name over the top would improve the UX.

Current scenario :
![user name](https://user-images.githubusercontent.com/16841267/46311519-19bd9080-c5e0-11e8-83e5-abe8926f1e15.png)

[2018-10-01 23:00] vivonk commented on #489
Nice @aakashbansal , go for it :+1:

[2018-10-01 23:06] vivonk commented on #124
@paarandika can you point out the configurations you were talking about? I am just aware of the `email.conf` and `dl.conf`

[2018-10-01 23:09] vivonk commented on #117
I guess the issue is resolved and download is even working fine on the queue of 20+ links.
Closing the issue. Further, if anyone wants to reopen, the issue would be around the same thing.

[2018-10-01 23:09] #117 closed

[2018-10-01 23:12] vivonk commented on #62
@rehrumesh can you provide some inputs like where we can improve our existing mechanism or try the best approach than existing? We are planning to release v.1.0 so I want to complete this work on a priority.

[2018-10-01 23:13] vivonk commented on #62
Or should we do this in the next version where local file upload feature is also going to mess up :smile:

[2018-10-01 23:14] vivonk commented on #64
@rehrumesh how about showing some controls in the Admin tab regarding files deletion, user limits and more? As we had a discussion about this a long before.

[2018-10-01 23:16] vivonk commented on #63
@rehrumesh @agentmilindu can you please tell like how the existing docker build is working or is working or not?

[2018-10-02 10:40] vivonk commented on #488
This issue was opened wrongly. Sorry for that

[2018-10-02 10:40] #488 closed

[2018-10-02 10:46] VibhorCodecianGupta commented on #488
@vivonk is this not an issue anymore?

[2018-10-02 10:56] vivonk commented on #488
No

[2018-10-02 11:00] VibhorCodecianGupta commented on #488
What seemed to be the problem exactly? Why were the builds failing?

[2018-10-02 14:44] VibhorCodecianGupta commented on #490
@vivonk please review #492 :)

[2018-10-02 19:26] phoenixking25 opened #495 "Add forgot password feature."
# Add forgot password feature.

## Expected Behavior
 - There should be a button on ui which send password reset email to the respective user which redirects to password reset form

## Current Behavior
 - There's no such feature.

[2018-10-02 19:32] VibhorCodecianGupta commented on #495
Nice catch! You working on this?

[2018-10-02 19:51] phoenixking25 commented on #495
nope! you can do this.

[2018-10-02 19:53] VibhorCodecianGupta commented on #495
Great! I'm working on this then

[2018-10-02 19:53] phoenixking25 commented on #495
Sure.

[2018-10-02 19:53] #495 closed

[2018-10-03 03:46] phoenixking25 commented on #495
@VibhorCodecianGupta if you haven't started this issue i want to put this task in my GCI task.

[2018-10-03 11:19] phoenixking25 commented on #495
@vivonk add GCI label on it. i want to enlist this in my gci tasks.

[2018-10-03 14:24] swatisingh45 opened #496 "Adding reject option for rejecting signup of any user if needed."
Add an option for ejecting the signup of any specific user if needed

## Expected Behavior
There is no such option in the project currently, it simply accepts all the signup requests. So, we could have a 'reject' feature too in order to reject the sign of a user when needed.

## Current Behavior
No such feature in the project right now.

[2018-10-03 14:33] swatisingh45 opened #497 "Add start/Kill corresponding to all the files individually."
Add start/Kill corresponding to all the files individually.

## Expected Behavior

- Add start/kill button for downloading the files under the admin rights, for all the individual files in the queue.

## Current Behavior

- Currently, there is only one start/kill button that corresponds to all the existing files in the queue.

[2018-10-03 14:40] swatisingh45 opened #498 "Adding date and time, on which the file is added and size of the file correspondingly."
Add the date and time, on which the file was added in the queue on the dashboard along with its file size.

## Expected Behavior

- As soon as someone adds a file into the queue for the download, it should show the date and time corresponding to its name in the dashboard. Also, the size of the file.

## Current Behavior

- No such feature is into implementation right now.

[2018-10-03 15:44] swatisingh45 opened #499 "Tap/Drop-down actions on the downloaded file from 'Completed' section."
Clicking on any downloaded file under the completed section would show further details about the file. For instance, size, URL and very importantly a "Delete" option for deleting the file.

## Expected Behavior

- Implement a drop-down section such that when someone clicks on any particular file in the completed section, it shows information about that particular file along with an option, "Delete

[2018-10-03 18:32] VibhorCodecianGupta commented on #477
Working on this.

[2018-10-03 18:46] phoenixking25 commented on #495
@vivonk check now.

[2018-10-03 18:51] vivonk commented on #495
@agentmilindu please see whether it's something that GCI participants will able to do in specific time

[2018-10-03 19:20] vivonk commented on #499
@agentmilindu should we keep the delete function to user specific or administrator specific?

[2018-10-03 19:21] vivonk commented on #498
Looks nice feature so that administrator can have some real insights regarding activities. @agentmilindu what do you say?

[2018-10-03 19:34] VibhorCodecianGupta opened #502 "Unnecessary empty fields in the UI"
## Current Behavior
The project currently has fields which are displayed with their respective headings even when there is no corresponding data to be displayed. Screenshots follow:

![screen shot 2018-10-04 at 12 52 51 am](https://user-images.githubusercontent.com/29275810/46434303-e9592c00-c770-11e8-982b-d289c3425b0b.png)

![screen shot 2018-10-04 at 12 53 12 am](https://user-images.githubuserco

[2018-10-03 19:34] VibhorCodecianGupta commented on #502
This is meant for GCI task

[2018-10-03 19:36] vivonk commented on #502
Nice idea. You can add this to the GCI tasks.

[2018-10-03 20:04] VibhorCodecianGupta opened #503 "Conserving memory while making API calls from the frontend"
## Current Behavior
While making an API call to the backend which fetches all the downloads (queued or downloaded), the code uses `filter` function to filter the queued downloads and then maps them. This process takes up a lot of extra space as both `filter` and `map` functions create new arrays, hence allocating extra memory twice for the same task. Since this API is being called every time a use

[2018-10-03 20:05] VibhorCodecianGupta commented on #503
@vivonk again, the change is minimal, intended as a GCI task

[2018-10-04 10:49] swatisingh45 commented on #496
This is for GCI task.

[2018-10-04 10:53] swatisingh45 commented on #498
For GCI.

[2018-10-04 10:53] swatisingh45 commented on #499
For GCI.

[2018-10-04 12:06] VibhorCodecianGupta commented on #503
@vivonk for GCI

[2018-10-06 03:10] sk9331657 commented on #457
@agentmilindu  Can I work on it??

[2018-10-06 03:13] sk9331657 opened #505 "Updating ReadMe."
## Expected Behavior

Cd Bassa Command is missing  it should be present.
## Current Behavior

Cd Bassa Command is missing.

[2018-10-06 16:33] agentmilindu opened #508 "UI build fails"
I'm getting an error when trying to do a `gulp build` in `ui`  of branch `develop`

## Expected Behavior
It should generate the build artifacts into `dist` dir.

## Current Behavior
Gettign this error,
![image](https://user-images.githubusercontent.com/1391468/46573451-1563ef80-c9b3-11e8-9bfe-9553c88d38f1.png)

## Steps to Reproduce (for bugs)

1. checkout to `develop` branch
2. cd to `ui`
3. run

[2018-10-06 17:33] VibhorCodecianGupta commented on #508
@agentmilindu `gulp-uglify` can't minify any ES6 Javascript code written, which is the reason this error is thrown. The solution is to either change ES6 to ES5 (which is out of the window of course) or to use `gulp-uglify-es` or `gulp-babel`. I was able to make this work with `gulp-uglify-es` because babel plugin requires managing some peer dependencies too. PR coming in ASAP.

[2018-10-06 17:45] agentmilindu commented on #508
@VibhorCodecianGupta Good catch! Can you fix it and send a PR?

[2018-10-06 17:49] swatisingh45 opened #510 "Adding information about Bassa"
Add a page containing what Bassa is and what does it do. Link that page to the title "Bassa" on the top left most corner of the site.

## Expected Behavior

- An additional page is to be linked with the title on the top left most corner of the site. Such that when clicked should direct to a page containing information about what Bassa is and what does it do.

## Current Behavior

-No such thing is

[2018-10-06 17:49] swatisingh45 commented on #510
@vivonk  Please check this, it's for GCI.

[2018-10-06 17:59] swatisingh45 opened #511 "Add GitHub link of Bassa on the login page"
In order to increase visibility add GitHub link to Bassa project on the login page.

## Expected Behavior

- Simply should contain the GitHub logo at the center to the bottom of the page so that when clicked should direct to the GitHub link of the project.

## Current Behavior

- Not in implementation.

## ToDo

- Create a Pull request making your changes.

## Submission Requirements:

- Link to y

[2018-10-06 17:59] swatisingh45 commented on #511
@vivonk Please review this, it's for GCI.

[2018-10-06 18:11] VibhorCodecianGupta commented on #508
@agentmilindu please review #512

[2018-10-06 18:41] agentmilindu opened #513 "API tests fails"
## Expected Behavior
The tests should pass

## Current Behavior
![screenshot from 2018-10-07 00-05-35](https://user-images.githubusercontent.com/1391468/46574722-857b7100-c9c5-11e8-9aa2-a39ec7aa0a44.png)

## Steps to Reproduce (for bugs)
1. checkout to `develop` branch
2. cd to `components/core`
3. run `python3 setup.py test`

## Your Environment
* Version used: v1.0.0
* Environment name and versi

[2018-10-06 18:55] VibhorCodecianGupta commented on #513
@agentmilindu what would this signify?

![screen shot 2018-10-07 at 12 24 59 am](https://user-images.githubusercontent.com/29275810/46574831-80b7bc80-c9c7-11e8-8107-e6cad6b71eac.png)

[2018-10-06 19:01] agentmilindu commented on #513
I think this is file permissions, try changing the `chmod`

[2018-10-06 19:03] VibhorCodecianGupta commented on #513
Yes, I just did. I ran this with `sudo`, it worked. `chmod` would be a better option though.

[2018-10-06 19:48] #456 closed

[2018-10-06 19:49] agentmilindu commented on #457
@vivonk I think we already completed this, right? Is there anything more to be done?

[2018-10-06 19:49] #455 closed

[2018-10-06 19:49] #454 closed

[2018-10-07 04:04] agentmilindu commented on #513
@VibhorCodecianGupta You could fix the issue?

[2018-10-07 04:04] #505 closed

[2018-10-07 04:36] agentmilindu commented on #495
@vivonk @phoenixking25 I think we have to divide this issue into several tasks if we are adding this to GCI.

1. Add a hyperlink "Forgot password" on the login screen, Clicking the link opens a Forgot Password form to ask the email.
1. When the form is submitted, send an email to the user with Password Resetting Link.
1. Create a Password Resetting page, this is the page where the users land when

[2018-10-07 04:40] phoenixking25 commented on #495
Ok will publish this in that order.

[2018-10-07 04:54] VibhorCodecianGupta commented on #513
Yes, will do!

[2018-10-07 05:17] VibhorCodecianGupta opened #515 "Add a bash script for setup in OSX environment"
## Expected Behavior

There should be a bash script containing all the installation commands for OSX, so as to make installation a one-command process.

## Current Behavior

There is no setup file present for OSX, although steps are listed down in the wiki.

## Possible Solution

Create a `setup_osx.sh` similar to `setup.sh` in the root directory. All the commands that are required are already pre

[2018-10-07 05:18] VibhorCodecianGupta commented on #515
@vivonk intended as a GCI task

[2018-10-07 05:41] swatisingh45 commented on #499
Okay, thanks @agentmilindu  @vivonk  :)

[2018-10-07 13:08] VibhorCodecianGupta commented on #513
Working on this, hopefully tonight :)

[2018-10-07 18:30] agentmilindu commented on #462
@vivonk Can you add this as a GCI task?

[2018-10-07 19:32] VibhorCodecianGupta commented on #513
@agentmilindu @vivonk from what I gather, it was some kind of an import issue. The screenshot you posted got resolved, so I'm assuming that particular error got resolved (it's highly likely that its not though). This is what I did in `setup.py` (after renaming the test files by replacing hyphens with underscores, which were otherwise throwing a syntax error) -

![screen shot 2018-10-08 at 12 38 37

[2018-10-07 19:58] VibhorCodecianGupta commented on #513
@vivonk #516 has what you requested.

[2018-10-07 20:31] harsha-iiiv commented on #511
Can i work on this issue?

[2018-10-07 20:32] harsha-iiiv commented on #510
Can i work on this issue

[2018-10-07 20:32] VibhorCodecianGupta commented on #511
@harsha-iiiv this is enlisted as a GCI task. I'd encourage you to pick up an issue that someone isn't already working on, or feel free to open new ones!

[2018-10-07 20:32] harsha-iiiv commented on #502
Can i work on this issue?

[2018-10-07 20:36] harsha-iiiv commented on #503
Can i work on this issue!?

[2018-10-08 04:50] harsha-iiiv commented on #511
@VibhorCodecianGupta  thank you.

[2018-10-08 14:57] swatisingh45 commented on #515
@VibhorCodecianGupta  Please do not mention this here, just add this on your dashboard, admins will review them further later.

[2018-10-09 16:04] agentmilindu opened #518 "Deployment scripts for Bassa on different platforms"
We should make the deployment of Bassa easy as much as possible. Having deployment scripts for different platforms would make this process easy. I suggest adding deployment scripts for following platforms
 - [ ] Kubernetes
 - [ ] OpenShift
 - [ ] Vagrant/Nomad
 - [ ] Marathon
 - [ ] AWS
 - [ ] GCP
 - [ ] Azure

Why I mentions, AWS, GCP, etc is, even running on a cloud provider, Bassa still can wor

[2018-10-09 16:05] agentmilindu commented on #518
I'm planning to work on Kubernetes myself, hope to complete by today.

[2018-10-09 16:08] data1435 commented on #518
I will work on AWS deployment. I can start work from now.

[2018-10-09 16:15] VibhorCodecianGupta commented on #518
I'll take up GCP/Azure.

[2018-10-09 16:16] VibhorCodecianGupta commented on #513
@agentmilindu any workarounds you have in mind? Or perhaps I'm doing something wrong? This seems to be an environment issue on my machine only, would love to get some solutions to this

[2018-10-09 16:20] agentmilindu commented on #518
Let's have this directory structure,

[code]

[2018-10-09 17:21] agentmilindu opened #519 "Snapshot testing fro Bassa"
How about we snapshot test Bassa? WDYT?

@malithsen @rehrumesh @JaDogg @charithccmc

Ref : https://izifortune.com/snapshot-testing-angular-applications/

[2018-10-10 10:30] swatisingh45 commented on #510
Hey! @harsha-iiiv This is listed as GCI task. Please pick something else up not labeled as GCI.

[2018-10-14 05:36] ChaminW opened #520 "Should add gitattributes file to this project"
## Expected Behavior
Make pull request from all contributors without introducing any conflicts in encoding.

## Current Behavior
Without a normalized line endings, pull request from varies contributors may introduce conflicts due to generalized encoding types in different IDEs and operating systems.

## Possible Solution
Add a gitattributes file with proper attributes

[2018-10-14 07:41] agentmilindu commented on #520
@ChaminW Agree, please go ahead for a PR

[2018-10-22 17:24] swatisingh45 opened #523 "Write a Blog on Bassa"
Write a detailed Blog on Bassa. The blog should be informative and it should cover all the aspects of Bassa. For instance, what is Bassa, what does it do, what technologies are used and how it is can be a meaningful product for the public if released. Share the blog on any platform of your choice and upload the screenshots in the PR.

Create a Pull request making your changes.

Submission Requirem

[2018-10-29 08:32] tintinmovie opened #589 "TypeError: cannot serialize 'Hub' object"
When starting the download process, nothing occurs. Looking at the log file shows this error:
[code]

## Your Environment

* Operating System and version (desktop or mobile): Windows 10

[2018-11-02 09:06] bauripalash opened #609 "Improvement Proposal"
As all can see the master branch is not working at all and not maintained anymore.

**I think it would be better to pull all the changes in develop branch to the master branch whenever a stable version is released.**

And I would recommend to use a proper semantic version numbering and make use of the GitHub release system.

[2018-11-03 08:32] VibhorCodecianGupta commented on #609
@bauripalash that already happens, all the changes are to be pushed to develop only

[2018-11-03 09:03] bauripalash commented on #609
Then why not make 'develop' the default branch

[2018-11-03 09:07] VibhorCodecianGupta commented on #609
The master branch is for the releases as you can see. So the develop branch has all the CI passing, and every working piece of code is merged there. The maintainers will merge all that chunk into master and release it as version 1.0.0 as far as I think. Making develop default wouldn't really achieve anything

[2018-11-03 09:10] bauripalash commented on #609
Got it! But when they gonna release 1.0.0?

[2018-11-03 11:01] VibhorCodecianGupta opened #614 "Suggestion: Migrate to newer technologies"
### Expected Behavior
Smooth installation process without any dependency hassle. Setting up the project should require minimal steps.

### Current Behavior
While setting up Bassa recently on my machine, I came across a couple of serious issues.

 - [] First and foremost, the `README.md` is missing the command `pip3 install -r requirements.txt`. For someone new

### Possible Solution

### Steps to

[2018-11-03 12:38] VibhorCodecianGupta commented on #614
Unable to login as well. On the `develop` branch of this repository.

[2018-11-04 04:02] VibhorCodecianGupta commented on #513
@agentmilindu So I was able to resolve the issue. Turns out everything is working absolutely fine. Just the names of the test files needed to be changed. The `unittest` module recognises files of the type `test_*.py` OR `*_test.py`. Hence, changed the names accordingly. To run the tests, the python server should be running and database connection should be open, and the test files need to be impor

[2018-11-04 05:07] VibhorCodecianGupta commented on #513
@agentmilindu done in #616

[2018-11-06 07:54] vivonk commented on #614
@VibhorCodecianGupta - @agentmilindu was thinking to shift from bower and gulp to webpack so that will reduce this error.
I have also faced a lot of errors with `node sass` so workaround can replace it will something else.
I haven't faced any problem with MySQLdb and libmysqlclient till the date but I guess it' making problem on Macbooks.
We can have a good discussion about upgrading our techs.

[2018-11-06 08:06] VibhorCodecianGupta commented on #614
@vivonk absolutely. React with `webpack` and `babel` plugins is the brightest future for Bassa in my opinion.

[2018-11-06 08:09] vivonk commented on #614
@VibhorCodecianGupta I guess shifting from angularjs to React might not be a right decision at this stage. Alternatively, we can have a branch where we can work on this.
@agentmilindu @rehrumesh can provide better insights into this :smile:

[2018-11-06 08:35] VibhorCodecianGupta commented on #614
Yes, sure. It can be initiated as a different release altogether, in a separate branch. If it's convincing enough to replace the current architecture, only then it could be considered to go ahead. On the other hand, we could also discuss migrating to Angular2/Angular4 instead of React.

[2018-12-04 07:46] Huang-Yang-Jie commented on #143
https://github.com/Huang-Yang-Jie/practice-git/blob/master/CONTRIBUTORS.md

[2018-12-04 12:14] Huang-Yang-Jie commented on #143
Change the CONTRIBUTORS.md

![1204-1](https://user-images.githubusercontent.com/44682107/49441332-25584e00-f801-11e8-8b82-747641371ee3.png)

[2018-12-07 03:27] harsha-iiiv opened #671 "gh-page for Bassa"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2018-12-07 13:46] VibhorCodecianGupta commented on #515
@agentmilindu @vivonk done in #673

[2018-12-16 07:33] VibhorCodecianGupta commented on #503
@vivonk @agentmilindu done in #683

[2018-12-16 11:54] VibhorCodecianGupta commented on #519
@agentmilindu shall I work on this? Made some progress already

[2018-12-19 23:46] anuragparida opened #686 "Approve User Button always removes the first element in table"
When I click on any approve button in the Requests Section of the Admin Tab, it ALWAYS removed ONLY the first element from the table.

I clicked-
![1](https://i.imgur.com/SOaFpjs.png)

It removed first element-
![2](https://i.imgur.com/zZzVdgd.png)

However, this is only in the UI, because when I reload the page/switch to a different tab and switch back to Admin Tab, the correct view is shown.

[2018-12-19 23:47] anuragparida commented on #686
@agentmilindu @charithccmc

[code]

[2018-12-20 04:15] anuragparida commented on #686
The Screenshot I attached has a different UI, but the backend is same

[2018-12-21 03:45] prashant0598 commented on #671
@harsha-iiiv Pls make the issue more informative.

[2018-12-24 04:15] agentmilindu commented on #245
@malithsen What you think of the apporach used in https://github.com/scorelab/Bassa/pull/690 ?

[2018-12-25 16:01] malithsen commented on #245
@agentmilindu Made few comments. Let's continue the discussion there

[2019-01-07 05:05] rkpattnaik780 commented on #347
Is this issue still open?

[2019-01-07 05:11] rkpattnaik780 commented on #185
I will like to work on this.

[2019-01-07 16:55] agentmilindu commented on #347
Fixed by #434

[2019-01-07 16:55] #347 closed

[2019-01-11 07:07] prashant0598 commented on #185
@rkpattnaik780 Go ahead

[2019-01-11 23:12] vivonk commented on #474
Resolved with #475 . Closing here

[2019-01-11 23:12] vivonk commented on #474
Resolved in #475 . Closing here

[2019-01-11 23:12] #474 closed

[2019-01-11 23:15] vivonk commented on #457
@agentmilindu @sk9331657 It's done as a sub-issue of https://github.com/scorelab/Bassa/issues/453
Closing from here

[2019-01-11 23:15] #457 closed

[2019-01-11 23:17] vivonk commented on #671
@malithsen I guess we already have web hosting and that is not a project specific. So should we go for this or a single website + readme in every repo is enough?

[2019-01-27 12:08] agentmilindu commented on #520
@ChaminW Thanks for the PR!

[2019-01-27 12:08] #520 closed

[2019-01-27 17:47] malithsen opened #691 "Broken dashboard"
UI no longer show queued or completed downloads

## Expected Behavior
Show queued downloads of the logged in use
Show a list of completed downloads

## Current Behavior

Empty queue and completed list. On inspection it was observed that the files are getting downloaded as expected however they don't show up anywhere on the UI

This shows up on console:
![bassaerr](https://user-images.githubusercon

[2019-01-27 17:51] VibhorCodecianGupta commented on #691
Looking into it ASAP

[2019-01-27 18:12] malithsen commented on #691
@VibhorCodecianGupta
It looks like we're assigning the result from api to $scope.downloads here
https://github.com/scorelab/Bassa/blob/develop/ui/src/app/completed/controllers/TableCtrl.js#L36

but in the view we check for something else
https://github.com/scorelab/Bassa/blob/develop/ui/src/app/views/table.html#L1

[2019-01-28 21:55] phoenixking25 opened #693 "Image link broken in README.md"
Image link under Contributors Section in Readme.md is broken i.e. giving 404.
`https://opencollective.com/Bassa/contributors.svg?width=890&button=false`

[2019-01-28 22:02] phoenixking25 commented on #693
@vivonk

[2019-02-09 08:04] RavinduSachintha opened #695 "Windows Installation Error for higher versions of PIP"
There have use **pip.req** internal API in the setup.py file and the way it has used, have been changed after the **pip version 10**.
[https://mail.python.org/pipermail/distutils-sig/2017-October/031642.html](https://mail.python.org/pipermail/distutils-sig/2017-October/031642.html)

## Expected Behavior
Successfully get the required dependencies using requirements.txt without an error.

## Current

[2019-02-10 16:59] lakinduakash commented on #614
s

[2019-02-10 17:02] lakinduakash commented on #614
@vivonk Do we have a new branch for migrating?

[2019-02-11 18:46] kartikpandey2 opened #696 "Error on running gulp serve"
On running `gulp serve` to start front end server it gives the error
```Node Sass does not yet support your current environment: Windows 64-bit with Unsupported runtime```

## Expected Behavior

It should run the front end server

## Current Behavior

It throws an error

## Possible Solution

On some research I found we are using very old packages which don't support nodejs recent versions.
For eg

[2019-02-14 01:10] malithsen commented on #691
Hi @VibhorCodecianGupta do you have any updates on this?

[2019-02-17 17:38] kartikpandey2 opened #699 "Login not working"
Login to Bassa with cred `rand`, `pass`throws `Failed to load resource: the server responded with a status of 500 (INTERNAL SERVER ERROR)` but no error is logged on the server console.

![screenshot 145](https://user-images.githubusercontent.com/20434963/52916700-d5b9f680-3308-11e9-8467-5c2a39f1100b.png)

## Expected Behavior

Login should work

## Current Behavior

server returns 504(internal ser

[2019-02-17 17:41] malithsen commented on #699
Are there any errors in backend logs? A common reason for this error is a problem with database connection. Please verify if the database credentials are properly set

[2019-02-23 18:17] kartikpandey2 commented on #699
@malithsen It is not a connection issue. I finally found what makes server to throw 504 error. I am on windows platform so I followed [this(mentioned on Windows Installation Guide)](https://www.youtube.com/watch?v=QAQaThaUOgE&feature=youtu.be) to setup Bassa locally. In this tutorial he changed `import MySQLdb` to `import pymysql
pymysql.install_as_MySQLdb()` in [DBCon.py](https://github.com/score

[2019-02-25 18:20] ganeshpatro321 commented on #495
Hey @vivonk Is this issue resolved, if not can I pick this issue?

[2019-02-26 16:50] demon-36 commented on #699
@kartikpandey2 for Linux OS, while setting up **_DBCon.py file_** just edit the variables as
_db=MySQLdb.connect("localhost", "root", "pass", "Bassa")

[2019-02-26 19:13] kartikpandey2 commented on #699
@demon-36  I am on Windows

[2019-02-28 09:52] jerrytoms commented on #511
Can I work on this issue?

[2019-03-01 19:43] ganeshpatro321 commented on #696
@vivonk
@kartikpandey2 There is a similar issue with ubuntu 18.04 too.
![screenshot from 2019-03-02 01-09-06](https://user-images.githubusercontent.com/30416891/53662118-2118c100-3c88-11e9-849b-81dae66925a0.png)

[2019-03-01 19:48] kartikpandey2 commented on #696
@ganeshpatro321  you need to downgrade to node 6 to make it work.

[2019-03-02 05:07] ganeshpatro321 commented on #696
I ran it using node 6.10.1, still facing the same problem?

[2019-03-02 12:40] ganeshpatro321 commented on #696
![screenshot from 2019-03-02 18-00-35](https://user-images.githubusercontent.com/30416891/53681926-481dd400-3d16-11e9-954f-deec06c47fbd.png)

I am using downgraded node version, still not able to setup things. Help would be greatly appreciated. Thank You.
@vivonk

[2019-03-03 12:00] demon-36 commented on #696
@ganeshpatro321 I had same problem while installing Bassa. This problem is with ubuntu 18.10 version,
I was having installed 18.10 Cosmic version which was not stable and I think same version you are using.
 Install stable version of 18.04 and then again install Bassa step by step, that worked for me.
Good luck !

[2019-03-03 12:28] ganeshpatro321 commented on #696
Hey @demon-36 , I am using ubuntu 18.04, but not getting why this error is popping up.

[2019-03-09 06:56] xlight05 commented on #699
@kartikpandey2
You should change DBCon.py on windows too(If you don't have env variables).
https://github.com/scorelab/Bassa/wiki/Windows-Installation-Guide

[2019-03-15 17:12] Shehanka opened #706 "Duplicate id reference in views/dashboard.html table"
## Expected Behavior

In here table row tag duplicate id 'vertalign' reference added but in html we  cannot have same name for element id so it must be a class

## Current Behavior

`<td id="vertalign" data-title="ID">{{$index + 1}}</td>
            <td id="vertalign" data-title="Issue">{{data.download_name}}</td>
            <td id="vertalign" data-title="Progress">`

## Possible Solution

make a

[2019-03-16 12:51] xlight05 opened #708 "Enable Console Logging"
## Context
I've noticed so many people (including me) failing to set up the database credentials in the first try.
In the current version of Bassa if you did not set up the database correctly, you won't get any errors until you try to login with the UI.
This can be an issue of documentation however since we have 'Server initialized for gevent.' message after launching Main.py the user expects the

[2019-03-16 15:02] Shehanka commented on #708
Still I couldn't run app locally. I really like to contribute this project in GSoC but thing is difficult to setup this project. When I run Main.py I got an error again.

[2019-03-16 16:59] xlight05 commented on #708
@Shehanka This issue is not related the issue you are facing,
Send me a msg in gitter with the error you are getting :)

[2019-03-18 04:59] xlight05 commented on #695
This is not a windows specific issue.  Try using 'develop' branch. A fix is available there :)

[2019-03-20 10:54] xlight05 opened #710 "Signup Page shows success message when request is failed"
Currently, Signup page always shows 'success' as the message even though the signup request has failed.
This can happen for various reasons including database errors, username is already taken errors.

## Expected Behavior
Sign up page should be able to display the correct status after pressing the sign up button

## Current Behavior
Sign up page always shows a success message

## Steps to Reprodu

[2019-03-21 17:07] xlight05 commented on #710
Resolved from #711

[2019-03-21 17:07] #710 closed

[2019-03-24 07:01] kmehant opened #714 "Implement a single dependency setup shell script for linux distros and MacOS"
## Expected Behavior

Implement a single setup shell script for dependency installation across linux distros and MacOS
## Current Behavior

There is a setup shell script only for Linux Ubuntu (apt/apt-get based) OS.
There is no shell script for installation of dependencies across variuos other linux distros and MacOS.
## Possible Solution

A single dedicated setup shell script which can install de

[2019-03-24 07:04] VibhorCodecianGupta commented on #714
#673 does this partially. Other Linux distros could be added over there itself I guess, since I originally intended it to be inclusive of other OS as well?

[2019-03-24 07:23] kmehant commented on #714
Hi Vibhor,
I wrote this MacOS setup on wiki last year(https://github.com/scorelab/Bassa/wiki/MacOS-Installation-Guide). So your issue was specifying mainly around having a specific setup script only for MacOS. So I created a common script for all the Linux distros and MacOS included. But if you feel this issue is a mistake or want me to remove MacOS installation steps please let me know.
@vivonk @

[2019-03-24 19:25] avsingh999 opened #716 "login page not responsive in short screen"
login page not responsive in short screen window size

## Expected Behavior
it's behavior must be like sign up page
![scor1](https://user-images.githubusercontent.com/25536022/54884560-aadb3900-4e98-11e9-8f6b-d8328b48bfc1.png)

![scor2](https://user-images.githubusercontent.com/25536022/54884568-b0d11a00-4e98-11e9-87df-fae9ec383496.png)

## Current Behavior

## Possible Solution

## Steps to Repro

[2019-03-24 19:26] avsingh999 commented on #716
@vivonk  can I work on this issue
thanks

[2019-03-25 16:19] arc9693 opened #717 "[UI/UX Improvement] Display logout button next to user name"
## Expected Behavior
Logout button should appear next to the username so that the user can logout at one click.

## Current Behavior
Currently, there is a drop down menu next to username that contains only one button to logout so the user needs to click twice in order to logout which is not a good user experience.

![Screenshot from 2019-03-25 21-41-13](https://user-images.githubusercontent.com/36

[2019-03-25 16:26] arc9693 opened #718 "[Feature] Allow users to edit their details"
## Expected Behavior
Users should be able to edit their details like user name, password, email etc.

## Current Behavior
No option to edit user details.

[2019-03-25 21:21] xlight05 commented on #708
Resolved with #709

[2019-03-25 21:21] #708 closed

[2019-03-25 22:57] xlight05 opened #719 "Shall we avoid editing DBCon.py?"
## Context
When we are configuring the database, we are encouraging people to use hard-coded values in DBCon.py.

I don't really mind hard coding values in a config file for testing purposes however it really is a bad practice to edit the code. I've done this myself and I accidentally staged DBCon.py couple of times.

I think the solution is already implemented. In the default code, we are getting

[2019-03-26 08:24] avsingh999 commented on #717
we can add the logout icon and add tooltip there when hovering on logout icon then show log out.
what do you think @arc9693

[2019-03-26 08:29] avsingh999 opened #720 "add linux, mac installtion guide link in Readme.md"
there is no link  to the user can go Linux and mac installation guide
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-03-26 08:30] avsingh999 commented on #720
@vivonk If it's valid I will send pr soon.
thanks : )

[2019-03-26 08:49] avsingh999 commented on #706
@Shehanka can I work on it this issue

[2019-03-26 10:01] avsingh999 opened #722 "improve Dashboard UI in short screen size"
![scor4](https://user-images.githubusercontent.com/25536022/54988217-f64a3000-4fdb-11e9-8383-456273f35be3.png)

## Expected Behavior
sidebar must be shown in short screen

## Current Behavior
sidebar not showing when the screen size short

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrom

[2019-03-26 10:02] avsingh999 commented on #722
@vivonk Please review me about this issue.

[2019-03-26 13:17] Shehanka commented on #706
@avsingh999 Yes you can if think feel to do

[2019-03-27 05:18] avsingh999 opened #726 "improve sign up page in short screen size"
we can see in short screen size sign up page UI not perfect
![scor7](https://user-images.githubusercontent.com/25536022/55052135-d0756780-507d-11e9-9615-5bc0e0f7d074.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Ope

[2019-03-27 05:44] avsingh999 opened #727 "add file name in gitignore"
I think we need to add this file `components/core/DBCon.py` in .gitignore because no need to commit this file this is in local setup.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 39, node.js 5.4):
* Operating System and version (desktop or

[2019-03-27 05:45] avsingh999 commented on #727
@vivonk @kmehant what do you think about please review about this?
thanks : )

[2019-03-27 15:16] avsingh999 opened #728 "improve login system in Bassa"
when successfully login in bassa and render to dashboard page but if we open again login link http://localhost:3000/#!/login (when user is always logeed in ) then it's again go to login page.
![scor9](https://user-images.githubusercontent.com/25536022/55088139-3a6b2c80-50d1-11e9-82dc-26b39e329b9b.gif)

## Expected Behavior
if user already login then go to Dashboard page

## Current Behavior

## Po

[2019-03-27 15:17] avsingh999 commented on #728
@vivonk @kmehant @agentmilindu please review me about this issue.it's valid or not.
thanks : )

[2019-03-27 19:26] avsingh999 opened #729 "Add Bassa logo in signup page"
in login page here is Bassa logo So we can add a logo in also Bassa Sign up page
![scor10](https://user-images.githubusercontent.com/25536022/55106201-5b914480-50f4-11e9-950f-89167847c218.png)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chrome 3

[2019-03-28 05:09] demon-36 opened #730 "Downloading of files is not starting"
Downloading of files is not starting after hitting Start button in Admin section.

## Expected Behavior

Added downloads should be downloaded after hitting Start button.

## Current Behavior

After adding a link of file, when we click start button in Admin Section nothing happens.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:

[2019-03-28 05:10] demon-36 commented on #730
@vivonk please go through this :)

[2019-03-28 05:46] avsingh999 commented on #730
Hi, @demon-36 in develop branch it's working but not showing data which files are downloading (request).
thank you : )

[2019-03-28 06:10] avsingh999 commented on #730
@demon-36  and master branch working fine. please explain to me more if I am on wrong track.

[2019-03-28 06:16] demon-36 commented on #730
@avsingh999 if this is true then I don't know what's wrong with my machine, I need to find out the issue.

[2019-03-28 06:26] avsingh999 commented on #730
please post a gif where we can see where is the problem.

[2019-03-28 08:55] demon-36 commented on #730
![download](https://user-images.githubusercontent.com/31997208/55143564-05a8b500-5165-11e9-8ea1-efc2638acf9d.gif)
here you can see what problem i'm facing.
P.S. : quality is not that much good.

[2019-03-28 16:19] singhrohan62 opened #733 "adding dark theme feature in Bassa"
I have experienced this problem and I think that adding this feature would make the app more cool. For people who work late at night, the light background might give strain in the eyes hence it would distract from doing their work. Dark theme can provide relief to their eyes.

## Expected Behavior
Right now, I will be adding this option only on Login page just for good first issue and later we can

[2019-03-29 03:55] avsingh999 opened #735 "change downloads folder"
when admin download the files but it's store the files `/Bassa/components/core`.So it would be better if all downloads files will be in a separate folder.
## Expected Behavior
shift downloads files in a separate folder

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. Chro

[2019-03-29 03:56] avsingh999 commented on #735
@vivonk please review me.
thanks : )

[2019-03-29 11:07] demon-36 opened #736 "Attaching link with Bassa button on nav-bar"
Bassa-logo button on nav-bar at home screen have no event attached.

## Expected Behavior

After clicking on Bassa-logo button it will redirect user to Bassa's Github profile in new tab.

## Current Behavior

 Currently there is no event attached with logo button, when we click on it nothing happens.

## Possible Solution

I have changed the related file and pulled a request for the same.

## Step

[2019-03-29 13:08] demon-36 commented on #733
@singhrohan62 instead of adding this button on login screen, it will look great on main screen after getting logged in. Isn't it ?

[2019-03-29 13:59] singhrohan62 commented on #733
Hi @demon-36, why not on both pages? If you would have read above I have clearly mentioned that I would like to add it in main screen also. Right now, as a good first issue, I am trying to add this feature only on login screen. Won't it make app more cool 😀 ?

[2019-03-30 14:49] avsingh999 opened #738 "label hide in Signup page"
when we fill detail for create new account in sign-up page then label are hiding(not shwoing) when details are filling But login page works fine
**Sign up page**
![scor12](https://user-images.githubusercontent.com/25536022/55277615-57e60380-5328-11e9-95a4-e40e28f9e517.png)

**Login Page**
![scor17](https://user-images.githubusercontent.com/25536022/55277693-e2c6fe00-5328-11e9-8a5c-6e78d937586a.png

[2019-03-31 13:55] singhrohan62 opened #739 "add firefox as browser-launcher for running karma test script"
For testing, only Chrome browser is being used as launcher for testing. I would like to add Firefox also so that if someone doesn't have Chrome web browser, he/she can run tests in his/her PC.

## Expected Behavior
Whether it be Chrome or Firefox, developer should be easily run the tests without any issues.

## Current Behavior
If someone does not have Chrome browser, the tests can't be run.

## P

[2019-04-01 13:30] #714 closed

[2019-04-01 16:16] arc9693 commented on #717
@avsingh999 Yes. That would be better.

[2019-04-05 12:07] kmehant opened #741 "Issue with the latest version of MySQL docker image used as bassa_db container for Bassa"
## Expected Behavior

MySQL db docker container should be accesible to requests to proceed the project flow.
## Current Behavior

* The project flow is broken
* We see an `Internal Server Error` on browser console.
* Tasks such as login are not proceeded

## Possible Solution

Using MySQL db image version `5.7` instead of using the latest version `8.x` in docker-compose file.
Here is the issue on

[2019-04-05 13:21] kmehant opened #743 "Semantic and syntax errors in create-schema.sh file"
## Expected Behavior

Create-schema.sh script is used to successfully push the database schema for Bassa when running in docker environment.
## Current Behavior

Due to semantic and syntax errors in create-schema.sh file it fails to push the schema to the database.
## Possible Solution

Resolving semantic and syntax errors in create-schema.sh script.

[2019-04-05 17:45] kmehant opened #745 "Using Nginx as a reverse proxy server in docker environment"
## Expected Behavior

We shall use Nginx as a reverse proxy server to direct traffic to `localhost:3000` when they use `localhost`
## Current Behavior

There is no implementation of Nginx as a reverse proxy server.
## Possible Solution

Use Nginx as reverse proxy server for Bassa web (ui) component.

[2019-04-06 05:36] xlight05 opened #747 "Use config aria2 server value in Download.py"
Since we are planning to decouple aria2 and bassa, its crucial not to use hard coded URLS to aria2 within the code.  However, in Download.py we are using hard coded values. Fixing this is crucial when we want to have separate containers for aria2 and Bassa.

[2019-04-06 22:53] kmehant opened #749 "Define environment variables for Bassa-api in kubernetes script"
## Expected Behavior

`Bassa-api` container needs the following environment variables
* `BASSA_DB_NAME`
* `BASSA_DB_USERNAME`
* `BASSA_DB_PASSWORD`
These environment variables should be defined for `Bassa-api` container in the respective kubernetes script.
## Current Behavior

These environment variables are not defined for `Bassa-api` container in the respective kubernetes script.
## Possible Sol

[2019-04-07 16:01] demon-36 opened #751 "Adding variable for no. of replicas in k8s script"
Adding variable for no. of replicas in k8s environment for API & UI files
## Expected Behavior

No. of Replicas will k8s environment to decide no. of clusters working for that particular service and will improve efficiency.

## Current Behavior

Currently there is no variable defining Replicas.

## Possible Solution

Define variable `replicas` and decide no. of Replicas as per service

[2019-04-07 18:41] kmehant opened #753 "Improved Travis CI builds for Bassa"
## Expected Behavior

Travis should build only when pull requests for files affecting Dockerfile are changed.
As for now, Travis CI is only used for building and pushing Dockerfiles to Dockerhub.
## Current Behavior

Travis builds for every pull request which is not required.
## Possible Solution

Change the .travis.yml file and put conditons on those files which are not required for Dockerfile bu

[2019-04-09 07:50] demon-36 opened #755 "Not showing downloaded files in completed section and signup requests in admin section"
Table of downloaded files is not shown in Completed section and pending signup requests are not shown in Admin section

## Expected Behavior

There should be a table showing downloaded files in Completed section and
pending Signup requests should be shown in Admin section

## Current Behavior

Currently when we switch to Completed section after starting downloading of added URL then nothing is sho

[2019-04-09 10:16] singhrohan62 opened #757 "display the queued downloads"
Display the queued downloads present in the local server.

## Expected Behavior
From the data present in the local server, we can filter out all downloads present in the download queue and display to the user so that everything is present before the user.
## Current Behavior
Right now, on the dashboard page, user is not able to see the queued downloads present in the server.

## Possible Solution

[2019-04-11 05:21] avsingh999 opened #759 "add dependabot"
It would be better if we can add **dependabot** for Bassa. It will make pull requests to  **up-to-date** dependencies
## Expected Behavior
add dependabot

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)
Go through official documentation for dependabot https://dependabot.com/
can check also https://github.com/scorelab/fact-Bounty Becuase There is also already added

## C

[2019-04-11 05:22] avsingh999 commented on #759
@vivonk @agentmilindu  what do you think about this.please review me
Thank you : )

[2019-04-12 06:20] demon-36 opened #760 "Grid view button is not functioning"
## Expected Behavior

When grid view button is clicked then downloaded files should be shown in Grid.

## Current Behavior

When we click Grid view button then nothing happens along with that table of downloaded files also disappears.

## Possible Solution

fixing working of grid view button in codebase

[2019-04-12 06:21] demon-36 commented on #760
@vivonk  @agentmilindu  should I go forward to fix this ?

[2019-04-18 18:14] avsingh999 opened #761 "Disable Login butttton until unless all input field are not fill."
In Sign up page sign up button disable until unless all input field is not filled So I think need to add the same thing in the login page because when we login with empty input field it gives error **incorrect credentials**  But I think should be given this field is required or something disable login button (like Sign up page).

![scor11](https://user-images.githubusercontent.com/25536022/5638178

[2019-04-18 18:15] avsingh999 commented on #761
@agentmilindu @vivonk @kmehant what do you think about this. Please review me.
Should I move forward with this or not?
thank you : )

[2019-04-19 05:29] vivonk commented on #761
You can go a head @avsingh999

[2019-04-28 14:28] avsingh999 opened #763 "image not found in Readme"
this link is not working in Readme https://opencollective.com/Bassa/contributors.svg?width=890&button=false
![scor24](https://user-images.githubusercontent.com/25536022/56865796-a18d4100-69ef-11e9-9168-4d152820c74f.png)

## Expected Behavior

## Current Behavior
image not found in this link
https://opencollective.com/Bassa/contributors.svg?width=890&button=false

## Possible Solution

## Steps to

[2019-04-28 15:32] avsingh999 commented on #763
@agentmilindu @vivonk Please review about this, because I don't know which image should be shown by that link and what would be the solution of this problem.
thank you : )

[2019-05-05 03:02] avsingh999 opened #764 "write tests for sign up (Backend)"
write the test case for sign up (**Backend**) because Only login test case is here. I think need to add also test cases for sign up.

## Expected Behavior
sign up test cases.

## Current Behavior
No tests for sign up

## Possible Solution
add test file (here https://github.com/scorelab/Bassa/blob/develop/components/core/tests) for signup and write possible test in that file

## Steps to Reproduce

[2019-05-05 03:07] avsingh999 commented on #764
@vivonk @agentmilindu @rehrumesh, Should I proceed with this issue or not, please review me about this issue. I didn't find any tests for sign up, So I have opened this issue. If I am wrong then please correct me.
Thank you :smile:

[2019-05-10 08:51] kmehant opened #765 "Containerize Aria2c using Docker"
**Is your feature request related to a problem? Please describe.**
Coupling both Bassa API server and Aria2c as an RPC server is not a good idea as we might face problems when scaling in the future.

**Describe the solution you'd like**
Presently Aria2c and Bassa API server are coupled in a single docker container. The solution would be to write a dedicated Dockerfile for Aria2c and decoupling it

[2019-05-10 09:05] kmehant opened #766 "Making configuration file for Aria2c RPC server generic to Docker environment"
**Is your feature request related to a problem? Please describe.**
When we decouple Aria2c and Bassa API server and run them in two separate containers we might fall into the issue of broken project flow.

**Describe the solution you'd like**
When we decouple Aria2c RPC server and Bassa API server and run them in separate containers, Aria2c RPC server no longer listens on localhost rather on its o

[2019-05-10 09:14] kmehant opened #767 "Adding Aria2c as a service to docker compose configuration file"
**Is your feature request related to a problem? Please describe.**
We have to spin up Aria2c container along with Bassa API, Web and Database containers.

**Describe the solution you'd like**
We shall update the docker compose configuration file adding Aria2c as a service.

[2019-05-10 09:55] kmehant opened #768 "Kubernetes script for Bassa Database"
**Is your feature request related to a problem? Please describe.**
Presently there are kubernetes scripts for Bassa API and Bassa UI. We need a kubernetes script for Bassa Database as well to spin up the database container on the cluster along with other components.
**Describe the solution you'd like**
We have to write deployments and service scripts along with persistent volume claim for Bassa da

[2019-05-10 10:17] kmehant opened #769 "Make Bassa ready for Kubernetes deployments"
**Is your feature request related to a problem? Please describe.**
Write now Bassa has been completely containerized using Docker and the docker-compose tool has been integrated for easy local deployments. Now we can go step further by deploying Bassa to a Kubernetes cluster for better orchestration and cloud deployments.

**Describe the solution you'd like**
I would like to divide the manifests a

[2019-05-10 15:17] demon-36 opened #770 "Integrating an open source file storage server with Bassa"
**Is your feature request related to a problem? Please describe.**
As Bassa uses Aria2c as main component to download files from URL, currently after downloading files using URL they are saved to local repository and to containerize Aria2c as a docker container it will be helpful to integrate Aria2c with Bassa Server in same container when we will have a separate dedicated file storage system.

**

[2019-05-10 15:19] demon-36 opened #771 "Integrating an open source file storage server with Bassa #770"

[2019-05-10 15:20] #770 closed

[2019-05-10 15:21] #771 closed

[2019-05-10 15:24] demon-36 opened #772 "Integrating an open source file storage server with Bassa"
**Is your feature request related to a problem? Please describe.**
As Bassa uses Aria2c as main component to download files from URL, currently after downloading files using URL they are saved to local repository and to containerize Aria2c as a docker container it will be helpful to integrate Aria2c with Bassa Server in same container when we will have a separate dedicated file storage system.
**D

[2019-05-10 15:28] #772 closed

[2019-05-10 15:36] demon-36 opened #773 "Integrating an open source file storage system with Bassa"
**Is your feature request related to a problem? Please describe.**
As Bassa uses Aria2c as main component to download files from URL, currently after downloading files using URL they are saved to local repository and to containerize Aria2c as a docker container it will be helpful to integrate Aria2c with Bassa Server in same container when we will have a separate dedicated file storage system.
**D

[2019-05-12 11:09] singhrohan62 opened #774 "Start off a React application for Bassa with the help of Webpack and Babel"
**Is your feature request related to a problem? Please describe.**

To create a React application for Bassa, a boilerplate code for a React application is needed to initiate the workflow of the project.

**Describe the solution you'd like**
I would like to create an independent React application in the root folder of Bassa (not in /ui, but outside of that) and create a simple working React applica

[2019-05-12 13:24] #515 closed

[2019-05-12 13:25] #503 closed

[2019-05-19 04:17] kmehant opened #775 "Updating docker file for Bassa API server"
**Is your feature request related to a problem? Please describe.**
Presently docker file for Bassa API server is failing to build due to missing of some dependency installation steps. Dockerfile Layers has to rearranged and multi-stage builds should be changed to a little extent in order to optimize the present docker file.

**Describe the solution you'd like**
* Add the necessary dependency insta

[2019-05-19 07:31] singhrohan62 opened #777 "Add Material-UI to the React app and follow its guidelines for styling the components"
**Is your feature request related to a problem? Please describe.**

After the React application has been set up, we install Material UI, which is React UI framework and follow Material UI guidelines for styling the components of the application.

**Describe the solution you'd like**

After setting up base for React application, Material-UI is available as `npm` package, hence, we will be adding Ma

[2019-05-21 11:51] kmehant opened #781 "Unable to spin up Bassa UI container for local development purpose"
**Describe the bug**
Presently `development dockerfile` for Bassa UI is having issues in building into an image.

**To Reproduce**
Steps to reproduce the behavior:
* `Bassa UI dev dockerfile` resides as `Bassa/ui/Dockerfile.dev`.
* Try buidling an image from the above dockerfile

**Expected behavior**
On building the image from the local development dockerfile, Bassa UI container should successful

[2019-05-21 12:24] demon-36 opened #783 "Improving installtiom scripts to update required installed packages"
**Is your feature request related to a problem? Please describe.**
During Bassa installation for various OS flavors, after installing required packages it will be good to update them to latest

**Describe the solution you'd like**
Added commands for the packages updation

[2019-05-23 10:42] singhrohan62 opened #785 "Create static ui models for Queued, Completed downloads and Dashboard component using Storybook React."
**Is your feature request related to a problem? Please describe.**
This issue is being created to add the feature of creating React components for the Bassa React application using Storybook React. In this way, developers can develop UI components and test them in an isolated environment without even adding them to the actual app.

**Describe the solution you'd like**
For developing React componen

[2019-05-25 11:17] demon-36 opened #786 "Unable to build Docker Image from Dockefile of API server"
**Is your feature request related to a problem? Please describe.**
Currently Dockerfile for API sever fails to build Docker Image, so Dockerfile requires enhancement.

**Describe the solution you'd like**
1. Use `ubuntu minimal` as base image for built image optimization
2. adding commands for required package installation which are missing from base image like          `pip`, `python-setuptools`

[2019-05-30 03:59] kmehant commented on #743
Fixed #743

[2019-05-30 03:59] #743 closed

[2019-05-30 04:23] #777 closed

[2019-06-02 03:57] kmehant opened #791 "Endpoints for file compression and missing imports"
**Describe the bug**
* File compression endpoints are not defined.
* Some imports are missing in `sender.py`

**To Reproduce**
Steps to reproduce the behavior:
1. Click the download button for any file from the completed queue
2. You find that the feature breaks

**Expected behavior**
* On clicking the download file should be download
* Share button should also be working

[2019-06-04 06:55] kmehant commented on #381
Guidelines for making proper database connection from Bassa API server  have been added to [README.md](https://github.com/scorelab/Bassa/blob/develop/README.md).
So closing this issue.

[2019-06-04 06:55] #381 closed

[2019-06-04 07:09] kmehant commented on #106
I agree with @rehrumesh sir. So presently on `develop` branch, we are getting db credentials from environmental variables which is already implemented so closing this issue for now.

[2019-06-04 07:09] #106 closed

[2019-06-04 08:28] kmehant commented on #691
@malithsen I think it needs a small angular fix which is being done in this **PR** https://github.com/scorelab/Bassa/pull/756. Please look into it.

[2019-06-04 08:40] kmehant commented on #730
Seems like
* you are testing it on some other branch other than `develop` branch. As far as I concern, we have a **download** button for the completed files which does not seem to be there in your case.
* You might have not started Aria2c server or have some problem in receiving download requests.
* or your local current branch might not be in sync with **upstream**
Check these points and you shou

[2019-06-04 08:40] #730 closed

[2019-06-04 08:49] vivonk commented on #730
@demon-36 if you still having same issue, please send this error on Gitter channel with System details :)

[2019-06-04 08:53] #736 closed

[2019-06-04 09:05] kmehant commented on #354
@iammosespaulr
`Mysqldb` not taking in the literal sense seems to be a python package is installed by this command as necessary for making db connections.
[code]
And I suppose should work on updated `develop` branch. So I am closing this issue for now.

[2019-06-04 09:05] #354 closed

[2019-06-04 09:08] demon-36 commented on #730
@vivonk @kmehant  that was due to not syncing local repo with develop repo, currently this is working fine.

[2019-06-04 09:09] #502 closed

[2019-06-04 09:26] kmehant commented on #124
@paarandika
Presently on `develop` branch, We have got a working confReader which serves two configuration files to Bassa API server. These configurations are in JSON form too. So closing this issue for now. Please mention any points which I missed out.

[2019-06-04 09:26] #124 closed

[2019-06-04 09:34] #523 closed

[2019-06-04 09:40] kmehant commented on #380
@demonsingh336 I think you might have some issue in setting up git workspace for Bassa. Try logging in before you do anything, Check whether your origin and upstream is setup properly and both are in sync. Hope it works for you so closing this for now.

[2019-06-04 09:40] #380 closed

[2019-06-04 09:46] #513 closed

[2019-06-04 09:52] #508 closed

[2019-06-04 09:55] kmehant commented on #245
This is fixed so closing the PR 😄

[2019-06-04 09:55] #245 closed

[2019-06-04 09:56] #511 closed

[2019-06-04 10:03] kmehant commented on #436
@vivonk and @agentmilindu any thoughts about this implementation?

[2019-06-04 10:16] kmehant commented on #132
So We have got Contributing Guide for Bassa Here [Link](https://github.com/scorelab/Bassa/blob/master/CONTRIBUTING.md)

[2019-06-04 10:16] #132 closed

[2019-06-04 10:20] kmehant commented on #407
Fixes here: https://github.com/scorelab/Bassa/pull/793
So closing this for now as there existing a similar issue linked with the **PR** 😄

[2019-06-04 10:20] #407 closed

[2019-06-04 10:24] kmehant commented on #244
I think it is moved and python modules are being installed too through **setup.py** so closing this 😄

[2019-06-04 10:24] #244 closed

[2019-06-04 10:26] #185 closed

[2019-06-04 10:34] kmehant commented on #122
@rajikaimal This seems to still exist and not sure what could be the reason.
@vivonk any thoughts about this?

[2019-06-04 10:36] #490 closed

[2019-06-04 10:37] kmehant commented on #370
This is solved and closing this as we have a separate guide for Windows

[2019-06-04 10:37] #370 closed

[2019-06-04 10:54] kmehant commented on #364
Please look into this https://github.com/scorelab/Bassa/pull/374#issuecomment-498620595
I am closing this issue for now.

[2019-06-04 10:54] #364 closed

[2019-06-04 10:58] #376 closed

[2019-06-04 11:01] kmehant commented on #451
@singhrohan62 would you like to implement this as this seems essential.

[2019-06-04 11:07] kmehant commented on #375
Error on running gulp serve with higher versions of node. https://github.com/scorelab/Bassa/issues/696

[2019-06-04 11:10] #135 closed

[2019-06-04 11:10] #139 closed

[2019-06-04 11:10] #319 closed

[2019-06-04 11:10] #320 closed

[2019-06-04 11:10] #324 closed

[2019-06-04 11:10] #325 closed

[2019-06-04 11:10] #348 closed

[2019-06-04 11:10] #349 closed

[2019-06-04 11:10] #350 closed

[2019-06-04 11:10] #351 closed

[2019-06-04 11:10] #496 closed, assigned to nobody

[2019-06-04 11:27] kmehant commented on #699
Make sure
* Mysql:5.7 is running
* Bassa API server is running
* both servers are connected and able to exchange requests.
I think this should fix things. Closing this issue for now but it will be part of the **troubleshooting list**

[2019-06-04 11:27] #699 closed

[2019-06-04 11:28] kmehant commented on #375
**Internal Server Error** when trying to login due to not setting up Bassa API server and MySQL properly and configurations not set properly.

[2019-06-04 11:32] kmehant commented on #398
So We store these downloaded files in a local server and download them to our system whenever required so we have got download button for the completed files.
So I am closing the issue.

[2019-06-04 11:32] #398 closed

[2019-06-04 11:33] kmehant commented on #428
I am closing this as a **PR** from @vivonk has been merged solving it 😃 .

[2019-06-04 11:33] #428 closed

[2019-06-04 11:40] #741 closed

[2019-06-04 11:46] kmehant commented on #720
Please look at this!
https://github.com/scorelab/Bassa/pull/725#issuecomment-498637043

[2019-06-04 11:46] #720 closed

[2019-06-04 11:49] kmehant commented on #735
Will be fixed in #793

[2019-06-04 11:49] #735 closed

[2019-06-04 11:50] kmehant commented on #729
Seems like it is implemented! so closing this

[2019-06-04 11:50] #729 closed

[2019-06-04 12:06] kmehant commented on #728
That's a valid issue. We have a similar issue posted earlier so I am closing this, for now, referencing to the [other one.](https://github.com/scorelab/Bassa/issues/122)

[2019-06-04 12:06] #728 closed

[2019-06-04 12:14] kmehant commented on #671
I think we have got enough **wikis** and **documentation** to work on **Bassa**. So closing this for now.

@harsha-iiiv if you would like to implement a static website for Bassa then open this issue and send a **PR** for the same referencing it. Or if you want to have a separate repo for the static website so please discuss it in the **gitter** channel.

[2019-06-04 12:14] #671 closed

[2019-06-04 12:18] kmehant commented on #727
That makes sense but might not be a good solution. Presently we are using environment variables to set the credentials so that no one needs to statically put the values in the connector method. We might go further implementing .env files to make it better. so closing this issue for now.

[2019-06-04 12:18] #727 closed

[2019-06-04 12:24] kmehant commented on #409
@SidDevelop Setting up Bassa is a complex process and I feel you haven't set up your Bassa API server and MySQL properly. Make sure you are running 5.7 version of MySQL. Given your credentials properly to Bassa API server so that it can talk to MySQL and allow you to log in. Update this file `DBCon.py` and for help check our **wikis** and **readme** and I am sure you will able to make it. I will c

[2019-06-04 12:24] #409 closed

[2019-06-04 12:33] #326 closed

[2019-06-04 12:42] #696 closed

[2019-06-04 12:42] kmehant commented on #696
Closed it for now! you can find this in troubleshooting issue which is pinned 😃

[2019-06-04 12:49] kmehant commented on #693
@phoenixking25 would mind sending a **PR** to this. You can check the docs on opencollective.

[2019-06-04 12:53] kmehant commented on #609
@VibhorCodecianGupta has given a proper explanation. We have got senior developers here who would take care of proper releases. Closing this issue.

[2019-06-04 12:53] #609 closed

[2019-06-04 13:06] kmehant commented on #112
So
* We got tests for UI and API by @iammosespaulr
* I have done load testing using locust framework and documented it here https://bit.ly/2ElDJYr
I would close this issue as it's very old and things have been achieved 😃

[2019-06-04 13:06] #112 closed

[2019-06-04 13:10] kmehant commented on #695
I don't think there is any problem with pip's version. as @xlight05 said please work on the updated `develop` branch and I am sure everything should be fine.  Please look at the wikis too. Closing this for now. If you further have any specific issue please feel free to open an issue as well post it in our gitter channel.

[2019-06-04 13:10] #695 closed

[2019-06-04 17:05] VibhorCodecianGupta commented on #375
@kmehant error on running gulp-server is because of an issue with node-sass v4.5.0
In the release notes for that version, it says for OSX (and other OS as well I think) it supports upto node 7 and since ui requires a node engine >=6.10.x, anything besides this range will throw an error.
@agentmilindu @vivonk I think this should be clarified in the documentation till the time the frontend codebase

[2019-06-05 03:13] singhrohan62 commented on #451
Hi @kmehant , sorry for the late response as yesterday, I had a severe backpain that's why I was unable to communicate with you. This week, I won't be able to work on the issue because I am facing some issues regarding testing in React application. I know how to implement this functionality in React application using Material UI.

[2019-06-05 05:28] vivonk commented on #436
@kmehant @Asutosh989 I guess we should go like this. Adding this to TODO

[2019-06-05 05:45] vivonk commented on #324
Bassa codebase has been refactored a lot so this issue is resolved now. @agentmilindu

[2019-06-05 05:46] vivonk commented on #462
I am reopening this issue as this also has to be done for deployments so we have to implement it before release :) @kmehant

[2019-06-05 05:52] vivonk commented on #498
@kmehant We can keep this open as it's a feature request. For now reopening it :)

[2019-06-05 06:04] vivonk commented on #499
Reopening this as it would be required after the FS integration in Bassa.

[2019-06-05 06:14] vivonk commented on #122
I feel the token is doing things somewhere wrong or admin check code is breaking. Will look into this asap before release. @kmehant thanks for reporting it :)

[2019-06-05 06:25] vivonk commented on #451
Take care of yourself first @singhrohan62 and once you find sometime, you can try to implement it :)

[2019-06-05 07:28] kmehant commented on #108
We are shifting Bassa UI from Angular to React and will have all this covered there as part of GSoC 2019 so closing this for now.

[2019-06-05 07:28] #108 closed

[2019-06-05 07:30] #103 closed

[2019-06-05 08:26] #774 closed

[2019-06-05 13:36] kmehant commented on #462
@vivonk I will take up this issue :)

[2019-06-05 14:25] kmehant commented on #436
@Asutosh989 https://github.com/Asutosh989/Bassa/commit/e3d32da8ea8627c8c5fa1738acf11cc376c9c493
Would you mind sending a **PR** for the above commit and please even add host for API server and UI  as u have done for Bassa DB so that we can retrieve them into our code base. @vivonk

[2019-06-05 19:08] vivonk commented on #462
Ok sure @kmehant :)

[2019-06-10 12:30] singhrohan62 opened #795 "Add components Admin and Login to the React application"
**Is your feature request related to a problem? Please describe.**
After creating components `Dashboard`, `Queued` and `Completed`, it's time to create the remaining components and add test how the component would behave on user interaction and what will be rendered in front of the user.

**Describe the solution you'd like**
This time, I would like to follow TDD (Test Driven Development) approach.

[2019-06-10 12:31] singhrohan62 commented on #795
@vivonk  and @agentmilindu  what do you think of TDD approach? Kindly provide your suggestions!

[2019-06-10 14:28] kmehant commented on #138
I think we have got API endpoints defined now in the Wiki and I am working on documentation site will be adding proper API documentation for our server too. So will close this for now.

[2019-06-10 14:28] #138 closed

[2019-06-10 15:14] #257 closed

[2019-06-10 15:19] kmehant commented on #691
Fixes in #794 So closing this for now.

[2019-06-10 15:19] #691 closed

[2019-06-10 15:25] #489 closed

[2019-06-10 15:39] kmehant commented on #589
@tintinmovie This seems some issue with **python pickling**, especially on windows operating system. This issue is not related to Bassa API server so closing this for now.

[2019-06-10 15:39] #589 closed

[2019-06-10 17:53] vivonk commented on #795
@singhrohan62 I guess TDD would be good approach for writing and designing things from scratch. At the end, it will help us in going to exact path which we decide before.
I am with TDD Process :+1:

[2019-06-12 10:40] kmehant opened #796 "COPY failed: stat /var/lib/dist: no such file or directory"
**Describe the bug**
Production UI Dockerfile fails to work due to lack of `dist` folder which will be created when we run a **gulp build**

**To Reproduce**
Steps to reproduce the behavior:
The problem occurs while building the Production Dockerfile at `Bassa/ui`

**Expected behavior**
We need to successfully mount the **dist** folder so that Nginx can serve the static pages at `localhost:80`

[2019-06-12 10:41] kmehant commented on #796
I will send a **PR** solving this soon

[2019-06-15 18:16] VibhorCodecianGupta opened #798 "Add/update models for a file management system"
Requires adding entities like workspaces, projects, folders and files to create a directory structure.
The models consist of a unique id, a name and the id of their potential immediate parents

[2019-06-15 18:18] VibhorCodecianGupta opened #799 "SQL scripts for new schemae"
Writing SQL migrations for the newly added models and certain modified previous ones

[2019-06-15 18:21] VibhorCodecianGupta opened #800 "Create ACL flow for the storage structure"
Writing an ACL and permissions flow for the storage entities. Includes designing SQL table in a scalable approach, recording the permission levels for a user for the said storage entities

[2019-06-15 18:23] VibhorCodecianGupta opened #801 "Add APIs and methods for storage entities"
Writing CRUD APIs and helper methods for the new models and mock testing them

[2019-06-15 18:25] VibhorCodecianGupta opened #802 "File upload feature"
Setting up file upload to the local server and integrating with all storage entities. Exploring methodologies to implement folder upload as well.

[2019-06-15 18:54] VibhorCodecianGupta commented on #798
done in #803

[2019-06-15 18:55] VibhorCodecianGupta commented on #799
done in #803

[2019-06-15 18:55] VibhorCodecianGupta commented on #801
done in #803

[2019-06-17 03:30] kmehant opened #804 "Generating empty compressed files"
**Describe the bug**
When I try to get the downloaded files I get empty compressed files.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the files on the dashboard to be downloaded
2. Click and get the sharable link or simple download
3. Anyway, a compressed file is issued which is empty

**Expected behavior**
Compress folder should have got all the selected files instead of being em

[2019-06-18 19:45] vivonk commented on #804
Got the problem.
https://github.com/scorelab/Bassa/blob/develop/components/core/file_sender/compression_handler.py#L17
Here we are creating a zip file even if there is no file to zip. It should be like this
[code]

[2019-06-18 19:48] vivonk commented on #804
But the actual problem which is causing this is hidden I guess.
@kmehant can you debug that when you hit a download request where it's getting wrong. I guess to compression handler, no file is getting available.
One thing that is possible is that the time you are trying to download a file,  file might not actually ready. Which means aria2c haven't still downloaded files so they are not available a

[2019-06-19 03:13] kmehant commented on #804
@vivonk  sure I will try to draft the compression feature flow and issue related to it.
I will take up this issue!

[2019-06-19 06:18] kmehant commented on #804
@vivonk That's a needed fix! But seems like there is more to be hunted down to get this feature working!

[2019-06-19 15:17] singhrohan62 opened #805 "Build React UI for sharing selected files in completed downloads."
**Is your feature request related to a problem? Please describe.**
The issue is regarding adding a feature of sharing compressed downloaded files as suggested by @kmehant. I am creating an issue as a feature request in the Bassa React application and be listing as a part of my task in the GSoC 2019 project.

**Describe the solution you'd like**
The completed list component will be displaying list

[2019-06-19 16:17] kmehant commented on #805
@singhrohan62 thanks for taking up the concern.
We have already got API code and endpoints defined for that file sharing feature. API generates a shareable link to download the selected files in the compressed format. We have even got UI in angular for this feature. Hope this helps you in moving further and building it in React 😃

[2019-06-20 06:19] demon-36 opened #806 "Start button in Admin section is not working for a real user's added download link"
**Describe the bug**
`Start button` in `Admin` section to start downloading files from added link is not working, when a real user (not `rand`) adds download link and requests for download the files

**To Reproduce**
Steps to reproduce the behavior:
1. Sign UP as real user (say user `x`)
2. Add a download link
3. log out from user `x` and login as `admin`
4. hit the start button in admin section

[2019-06-22 16:16] singhrohan62 commented on #795
Fixed in PR [788](https://github.com/scorelab/Bassa/pull/788)

[2019-06-22 16:16] #757 closed

[2019-06-22 18:00] singhrohan62 commented on #785
Fixed in [PR: 788](https://github.com/scorelab/Bassa/pull/788)

[2019-06-22 18:00] #785 closed

[2019-06-22 18:35] vivonk commented on #804
Ok, can you add this fix in one of your PRs?

[2019-06-22 18:45] vivonk commented on #806
I think the user should be admin to start downloads @demon-36
Can you recheck if the user `x` is admin or not. Also, if not admin, is `Admin section` visible?

[2019-06-22 19:04] demon-36 commented on #806
@vivonk  yeah you are correct user should be admin to start downloads and also user `x` is not admin and Admin section is not accessible,
But Admin should be able to start download of URL added by user `x` , that thing is broken.

[2019-06-25 17:00] agentmilindu commented on #795
@singhrohan62 I agree, let's follow TDD

[2019-07-02 17:49] #805 closed

[2019-07-02 17:49] #795 closed

[2019-07-02 18:06] singhrohan62 opened #810 "Connecting the application components with the help of React Router according to the workflow of Bassa."
**Is your feature request related to a problem? Please describe.**
After the completion of the static components implementation, it's time to connect the disjoint components and place them according to the flow of the application. For this to happen, I will be using React Router for adding routes to the application.

**Describe the solution you'd like**
For the Bassa React application, five total

[2019-07-04 14:04] kmehant opened #811 "[Feature] A Web Server Gateway Interface for Bassa API server in production"
**Is your feature request related to a problem? Please describe.**
When we want to use the Bassa API server to serve a large number of clients, it's better to use a WSGI like Gunicorn to serve the application over a worker.

**Describe the solution you'd like**
Integrate a WSGI for Bassa API server for production use. Gunicorn with gevent is preferred to normal flask-socketio server.

[2019-07-04 17:40] vivonk commented on #811
@kmehant Gunicorn with gevent is a good option but we can consider `nginx + docker container` on k8s as a good deployment strategy. it's a good point to have discussion on :)

[2019-07-04 21:27] JaDogg commented on #811
Gunicorn + Nginx = ❤

[2019-07-05 07:57] kmehant commented on #811
@vivonk
I have made a [**PR**](https://github.com/scorelab/Bassa/pull/813) to use Gunicorn with gevent rather simply a flask-socketio server.

As @JaDogg bro suggested to use **Nginx** with **Gunicorn** which is a great idea to have for our API server, shall I add Nginx to that [**PR**](https://github.com/scorelab/Bassa/pull/813) as a load balancer transferring the load to multiple workers.

@vivo

[2019-07-05 10:14] kmehant commented on #786
It is fixed at #776, so closing it for now :)

[2019-07-05 10:14] #786 closed

[2019-07-05 10:17] kmehant commented on #775
Fixed at PR: #776

[2019-07-05 10:17] #775 closed

[2019-07-06 11:42] JaDogg commented on #811
Gunicorn is a fast WSGI server that can handle connections in multiple processes or workers, we can also use threads in each worker as well. This will allow for a single docker container with backend + gunicorn to process reasonable number of requests.

So this solves a part of the problem that is to make our backend handle lot of requests. Now we need something that can take the full force of the

[2019-07-07 08:08] #810 closed

[2019-07-08 01:10] cjprogamer opened #814 "Can't see the password"
**There is no option for show password**

**Expected Behavior**
when we Signup/Signin then where should be an option for show password

**Current Behavior**
Can't see the password that I typed.

[2019-07-08 05:15] kmehant commented on #814
@cjprogamer thank you for reporting to us! Our angular UI is no longer being actively maintained as we are shifting to react UI this summer. So we will get this resolved in our new UI.

[2019-07-19 16:23] singhrohan62 opened #816 "Managing flow of states in the application with the help of Redux."
With complete routing setup of the application, we need to handle state and data present in the application.
I would like to use Redux along with Redux-Saga to handle API calls and http requests to the server.

[2019-07-21 17:17] VibhorCodecianGupta opened #819 "Writing integration tests for ACL and storage endpoints"
The newly created endpoints for ACL management and storage entities need to be unit/integration tested in the flask application.

[2019-07-25 08:17] singhrohan62 opened #820 "Add Formik and Yup for form validation in Signup Component."
To validate the details provided by the first-time user, I would like to add Formik inside React application. As Chathu and Milindu suggested, I will be adding Formik to the React application for handling form state and its validation. I would also like to add Yup which is an object schema validator which will be used for validating fields like email validation and confirming the password  validat

[2019-07-28 12:43] kmehant commented on #375
Bassa is not compatible with higher versions of MySQL.
Possible solutions:
* Downgrade to MySQL 5.X
* [Change encryption method](https://stackoverflow.com/questions/49194719/authentication-plugin-caching-sha2-password-cannot-be-loaded)

[2019-07-30 00:12] #791 closed

[2019-07-30 00:12] kmehant commented on #791
Resolved

[2019-07-30 00:14] kmehant commented on #811
Resolved

[2019-07-30 00:14] #811 closed

[2019-08-02 13:16] singhrohan62 opened #822 "Add ESLint for configuring specific linting rules in the React application"
For maintaining clear codebase, developers need to follow certain rules and avoid bad formatting of code. Hence, to maintain proper formatting of the React application code, I would like to add ESlint into the application. Following Airbnb React style guide along with formatting the code with Prettier, we can maintain proper and well-formatted code following the required rules for a React applicat

[2019-08-08 03:12] kmehant commented on #781
Fixed!

[2019-08-08 03:12] #781 closed

[2019-08-11 13:05] kmehant commented on #796
Fixed :)

[2019-08-11 13:05] #796 closed

[2019-08-12 18:57] kmehant commented on #765
Fixed :)

[2019-08-12 18:57] #765 closed

[2019-08-12 18:58] kmehant commented on #753
Fixed ;)

[2019-08-12 18:58] #753 closed

[2019-08-12 19:01] kmehant commented on #745
Fixed :)

[2019-08-12 19:01] #745 closed

[2019-08-13 07:27] VibhorCodecianGupta opened #823 "UI for file management system"
Making a UI for the drive system in angular. This includes:

 - global stack service maintaining the current parent folder
 - service for aggregating CRUD and permission checks and grants data
 - controller for implementing the business logic
 - template for the folder/file view

[2019-08-13 07:38] VibhorCodecianGupta commented on #823
in progress, #818

[2019-08-13 16:18] kmehant commented on #767
Fixed :)

[2019-08-13 16:18] #767 closed

[2019-08-13 16:18] kmehant commented on #766
Fixed :)

[2019-08-13 16:18] #766 closed

[2019-08-13 16:22] kmehant commented on #248
Integrated docker-compose for all the four components :)

[2019-08-13 16:22] #248 closed

[2019-08-14 09:17] VibhorCodecianGupta commented on #478
Duplicate of #802

[2019-08-14 09:17] #478 closed

[2019-08-16 10:09] kmehant commented on #63
This featured has been completed and merged into develop. Closing this issue for now 😄

[2019-08-16 10:09] #63 closed

[2019-08-17 17:14] kmehant opened #825 "Get hostnames from environmental variables for Bassa"
**Describe the bug**
We have to get hostnames using environmental variables to make installation of Bassa easy either from source code or using docker-compose. This change is required for easy K8s deployment.

**Possible solution**
1. Create a python script or use dotenv package to create all required environment variables.
2. Make the required changes in the codebase for it to work.

[2019-08-17 17:20] kmehant commented on #825
@JaDogg and @vivonk We require this, what are your thoughts regarding this?
Moreover, to me, the proper handling of hostnames is required for better container-based deployments.  Please let me know how shall we proceed this, dotenv or python os module?

[2019-08-18 10:30] JaDogg commented on #825
If you want environment variables all you need is Python's builtin https://docs.python.org/3/library/os.html#os.environ

[2019-08-18 10:33] kmehant commented on #825
Will send a PR @JaDogg thank you

[2019-08-18 11:55] kmehant commented on #825
Seems like the environmental variables are not persistent using this way as they die after the child process is completed. I think we have to use a shell script to do this and seems like we have to run that script every time to export env variable.

[2019-08-18 17:17] JaDogg commented on #825
It depend on how you store the environment variables. Ex: if it's in `~/.bashrc` it will be loaded every time someone (given that their shell == bash) login.  For windows this is in System Properties.
Environment variables are available to either all processes or to child processes depending on the way you set them.

If you simply want some configuration you can use json (JSON), dotenv (.env file

[2019-08-18 17:27] kmehant commented on #825
Thanks @JaDogg seems like dotenv package will be useful to get this done.

[2019-08-18 18:16] JaDogg commented on #825
@kmehant I can see we have used .conf file with JSON in Bassa. Maybe we should do the same? @vivonk any ideas?

[2019-08-21 13:38] kmehant commented on #825
@JaDogg bro True, but shall we have .env files for storing hostnames as it seems apter. As we need them to be as environmental variables to make container deployments easy. what are your thoughts?
@vivonk bro any thoughts?

[2019-08-21 15:25] #801 closed

[2019-08-21 15:25] #798 closed

[2019-08-21 15:25] #799 closed

[2019-08-21 15:25] #819 closed

[2019-08-21 15:33] JaDogg commented on #825
OK then env it is :)

[2019-08-22 10:25] demon-36 commented on #773
done !

[2019-08-22 10:25] #773 closed

[2019-08-22 15:43] kmehant commented on #747
Fixed :)

[2019-08-22 15:43] #747 closed

[2019-09-02 15:49] demon-36 commented on #755
Done !

[2019-09-02 15:49] demon-36 commented on #755
fixed !

[2019-09-02 15:49] #755 closed

[2019-09-02 17:12] kmehant commented on #768
Duplicate of #769

[2019-09-02 17:12] #768 closed

[2019-09-02 17:13] kmehant commented on #749
Part of #769

[2019-09-02 17:13] #749 closed

[2019-09-06 14:29] #822 closed

[2019-09-06 14:30] #816 closed

[2019-09-06 14:30] #820 closed

[2019-09-06 14:30] #814 closed

[2019-09-06 14:35] #739 closed

[2019-09-06 14:35] #733 closed

[2019-12-05 18:25] selfisekai opened #832 "broken docker builds for api server"
**Describe the bug**
image doesn't build successfully

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:scorelab/Bassa.git`
2. `cd Bassa`
3. `docker-compose --file docker-compose.dev.yml up api` (the dev or default doesn't matter, both don't work)

**Expected behavior**
build and successfully run the package

**Screenshots**
I think that logs are much more convenient

[2019-12-05 19:24] kmehant commented on #832
@selfisekai
Hi, you can find the latest development of Bassa project completely at develop branch. We haven't yet merged the advanced commits in to master branch.
Please reopen this issue or create a new issue if you encounter any further issues in the `develop` branch.

[2019-12-05 19:26] kmehant commented on #832
@agentmilindu @JaDogg @vivonk
Shall we merge `develop` in to `master`?

[2019-12-05 19:53] selfisekai commented on #832
the problem remains on develop branch
![image](https://user-images.githubusercontent.com/11798442/70268721-51563880-17a1-11ea-9f2b-3cd0cc932379.png)

[2019-12-10 00:34] #832 closed

[2019-12-28 05:27] cjprogamer opened #847 "Add social media icons and links"
**The lacking feature**
Bassa does not contain social media links of scorelab. So a user cannot send their feedbacks off the Bassa.

**Solution**
Adding social media icons to the login page.

[2019-12-30 19:42] carpecodeum commented on #718
is this done? can i work on this?

[2019-12-30 19:42] carpecodeum commented on #806
can i work on this?

[2019-12-31 00:35] kmehant commented on #806
@carpecodeum sure :)

[2019-12-31 00:42] kmehant commented on #718
@carpecodeum not sure if this feature is planned for Bassa yet.
@vivonk @JaDogg

[2019-12-31 06:37] carpecodeum opened #851 "Add more Unit tests for frontend and backend"
**Is your feature request related to a problem? Please describe.**
As some of the unit tests of the frontend and backend are incomplete. More unit tests need to be added

**Describe the solution you'd like**
Make unit tests using enzyme from frontend and PyUnit framework for backend

**Additional context**
currently working on it..

[2020-01-02 06:46] carpecodeum opened #852 "update the version of gulp-sass"
**Describe the bug**
the current version of gulp-sass is causing errors on setting up on OSX
"Node Sass does not yet support your current environment: OS X 64-bit with Unsupported runtime (64)"

**To Reproduce**
Steps to reproduce the behavior:
1. Do NPM install
2. See error

**Expected behavior**
the error should not have been there and the project should have set up just fine

**Desktop (please

[2020-01-16 05:48] IMACULGY opened #857 "Contents of downloads folder will be pushed to remote branch"
**Is your feature request related to a problem? Please describe.**
User-specific files, located in the downloads folder, should not be able to be pushed to the remote branch.

**Describe the solution you'd like**
Add rules to the .gitignore preventing files within the downloads file from being pushed.

**Describe alternatives you've considered**
N/A.

**Additional context**
GCI 2019 task. Opened i

[2020-01-21 18:52] 2knal commented on #851
If any help is required, I would love to work on writing tests for backend.

[2020-01-21 19:02] carpecodeum commented on #851
Hey @2knal I'm in the middle of working on this issue and if I am not able to solve this one or need any help i will let you know for sure!

[2020-01-23 13:02] carpecodeum opened #870 "Cross-origin resource sharing error in the app"
**Describe the bug**
In the console an error is coming due to cors error in the flask-socketio server

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'start the server both frontend and backend'
2. Open the console
3. See error

**Expected behavior**
the cors error should not appear

**Screenshots**
<img width="1415" alt="Screenshot 2020-01-23 at 6 26 06 PM" src="https://user-images.gi

[2020-01-28 14:44] hv7214 opened #872 "[BUG] Start downloads return error"
**Description**
As Admin, clicking on *Start* results in error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Admin.
2. Go to *Admin* section.
3. Click on *Start*.
4. See error in terminal.

**Expected behavior**
No error should have been produced and start downloading all files.

**Screenshots**
![Screenshot from 2020-01-28 21-33-42](https://user-images.githubusercontent.com/4235

[2020-01-28 15:54] JaDogg commented on #872
@hv7214 Can you add the error message to the ticket as well? Just copy paste full error ! not just the part in screenshot. This will be useful for us in future.

[2020-01-28 16:02] hv7214 commented on #872
@JaDogg sure

[2020-01-28 21:53] carpecodeum opened #874 "On Logging as admin and refreshing the page the Admin privileges are revoked"
**Describe the bug**
after logging in as admin and refreshing the user loses admin privileges

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin account'
2. refresh the page
3. Go to admin panel
4. See error

**Expected behavior**
the local storage should remember the admin user already logged in
<img width="1440" alt="Screenshot 2020-01-29 at 3 22 27 AM" src="https://user-images.g

[2020-01-31 15:11] hv7214 commented on #760
@kmehant anyone on this ? If no, can i take it up ?

[2020-01-31 15:47] kmehant commented on #872
Reason for closing has been mentioned in the referenced PR ;)

[2020-01-31 15:47] #872 closed

[2020-01-31 16:46] hv7214 commented on #719
@kmehant what you say? I think it's better to make a template .env file rather making env variables/directly populating credentials.. It becomes really easy for a developer to configure a database, and hence prevent accidental staging of DBCon.py file.

[2020-01-31 20:30] JaDogg commented on #719
Can we create an inheritable config system. We have `config.json` and `user.config.json`. We will commit `config.json` and not commit user config. We can put default values there in `config.json`.

When loading the config we load both and merge in a way `user.config.json` overrides `config.json` data.

If we do `.ini` or `.yml` We can also have comments 😀
--

Then we create a config class to handl

[2020-02-01 11:23] carpecodeum opened #878 "The user gets logged out on refreshing the logged in page"
**Describe the bug**
When the user uses the react part of the app the user gets logged out on refreshing the app

**To Reproduce**
Steps to reproduce the behavior:
1. Log in the react app
2. Refresh the app
3. See error

**Expected behavior**
The user should remain logged in unless logged out

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]MacOs
 - Browser [e.g. chrome,

[2020-02-01 17:43] hv7214 commented on #719
@JaDogg it seems a great idea to go, though i have a lil'bit different approach. We can have a `config.example.json`, which should be treated as a template file. User has to **duplicate** this file as `config.json` (leading to two files: `config.json` and `config.example.json`). So data will be loaded directly from `config.json` file. No merging stuff. And `config.json` will be added to `.gitignor

[2020-02-01 17:45] hv7214 commented on #769
@kmehant are you still assigned on this ?

[2020-02-01 17:51] kmehant commented on #769
Please look through the referenced pull requests and most of the work is done which might lead to duplication of work. Anyways you can look through #828.

[2020-02-01 18:05] hv7214 commented on #769
@kmehant i see, is there any minor work left ?

[2020-02-01 20:15] JaDogg commented on #719
We can simply use `ChainMap` for merging and some custom code to handle nested merging. We can use `.yml` and include comments and examples in the same config. Example config is OK as well for Bassa.

Currently I'm not sure if it is possible to just run Docker to get stuff working. If I remember correctly we need to set some environment variables. @kmehant knows I think

[2020-02-02 10:36] hv7214 commented on #719
as much i know env variables are used for database config.

[2020-02-02 10:50] kmehant commented on #719
Yup no need to set environment variables in the case of container setup as we have mocked all of them using docker-compose tool

[2020-02-02 11:13] hv7214 commented on #375
In `dl.conf`, `aria_server` key's value(mainly hostname) has to changed according to the environment:

**Source-code setup:** ws://localhost:6800/jsonrpc
**Container setup:** ws://aria2c:6800/jsonrpc

**Note:** You need to run again `sudo python3 setup develop` command to overwrite the `~/.config/bassa/dl.conf` file.

[2020-02-03 13:09] hv7214 commented on #719
@JaDogg so should i just go with your idea or mine one.

[2020-02-03 13:17] hv7214 commented on #825
@kmehant is it yet to be done ?

[2020-02-03 13:34] carpecodeum commented on #718
@kmehant can i work on this.

[2020-02-03 15:15] carpecodeum commented on #719
@hv7214 as far as i know using .env can create in problems in the travis builds too so a solution without the use of .env files seems more appropriate.Also I think your use of sample config.json is fine. 👍

[2020-02-03 15:16] carpecodeum commented on #759
@kmehant is this issue open to work upon?

[2020-02-03 15:17] carpecodeum commented on #804
@kmehant i dont see any PRs for this issue is this issue still open?

[2020-02-03 15:37] JaDogg commented on #719
Either way is fine as long as we have good enough defaults for testing/dev somewhere. :)

[2020-02-03 18:32] hv7214 opened #880 "[DOC] Minio server guide missing"
**Description**
No where in the wiki is given about **minio-server** setup.

**Expected behavior**
Wiki should contain steps to download and start minio server at `localhost:9000`

[2020-02-04 13:08] carpecodeum commented on #851
@JaDogg I was thinking of adding test coverage for running the tests. Shall I go ahead with it?

[2020-02-04 13:15] JaDogg commented on #851
Do it.

[2020-02-04 13:18] carpecodeum commented on #851
@JaDogg sure!

[2020-02-07 14:06] hv7214 commented on #499
@vivonk is this still unsolved ?

[2020-02-11 19:51] carpecodeum commented on #851
@JaDogg I propose a few changes but that will require the restructuring of the existing pattern for writing tests.
1. Use a test client instead of using the development config.
2. make a sample data file for tests.

[2020-02-13 16:39] saisankargochhayat opened #887 "Moving from a requirement.txt to Pipfile."
Pipfile and pipenv are considered to be the current recommended standard way of managing project dependencies. Pipenv is the tool that manages your python virtual environment and dependencies according to the Pipfile.
https://packaging.python.org/tutorials/managing-dependencies/#managing-dependencies

[2020-02-14 08:43] hv7214 commented on #706
@kmehant i guess this issue fixed. Can you confirm and close this issue ?

[2020-02-14 08:46] hv7214 commented on #519
@VibhorCodecianGupta can you give status of this issue ?

[2020-02-14 12:03] JaDogg commented on #519
@hv7214 see if this code is in @VibhorCodecianGupta's fork?

[2020-02-14 17:16] hv7214 commented on #519
@JaDogg yeah sure

[2020-02-15 09:20] hv7214 commented on #519
@JaDogg i didn't find any such tests.

[2020-02-15 09:24] hv7214 commented on #519
@JaDogg are we continuing development with Angular ?  aren't we shifting UI to ReactJs ?

[2020-02-15 11:09] carpecodeum opened #889 "Use Blueprints to make the api endpoints look neater and easier to manage"
**Is your feature request related to a problem? Please describe.**
Currently the structure of api's in the server.py file is very unmanageable and very clustered.

**Describe the solution you'd like**
Using blueprints to make the api endpoints look cleaner and well organized.

**Additional context**
I suggest to create a views folder in which the download and user endpoints reside in different fil